<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{'MYPROFILE.Title' | translate}} </ion-title>
	</ion-toolbar>
</ion-header>


<ion-content>
	<ion-item lines="none">
		<ion-text><h2>{{'MYPROFILE.YourContracts' | translate}}</h2></ion-text>
	</ion-item>
	<ion-item lines="none">
		<ion-text >{{'MYPROFILE.ContractTitle' | translate}} </ion-text>
		<ion-text class="bold" color="primary" *ngIf="customer.typeOfContract ==='technical'" >{{'CUSTOMER.CONTRACTTYPETECHNICAL' | translate}}</ion-text>
		<ion-text class="bold" color="primary" *ngIf="customer.typeOfContract ==='full'">{{'CUSTOMER.CONTRACTTYPEFULL'  | translate}}</ion-text>
	</ion-item>
	<ion-item>
		<ion-text >{{'MYPROFILE.ContractTypeTechnical' | translate}} </ion-text>
		<ion-text class="bold" color="primary" *ngIf="customer.contractOfProduct ==='included'">{{'CUSTOMER.CONTRACTPRODUCTINCLUDED' | translate}}</ion-text>
		<ion-text class="bold" color="warning" *ngIf="customer.contractOfProduct ==='notIncluded'">{{'CUSTOMER.CONTRACTPRODUCTNOTINCLUDED'  | translate}}</ion-text>
	</ion-item>
	<ion-item lines="none">
		<ion-text><h2>{{'MYPROFILE.PersonalInformation' | translate}}</h2></ion-text>
	</ion-item>
	<ion-item lines="none" *ngIf="customer.telPhoneNumber !== ''">
		<ion-avatar slot="start">
			<ion-icon  color="primary" name="person-circle-outline" size="large"></ion-icon>
		</ion-avatar>
		<ion-label >
			<h3>{{customer.firstName}} {{customer.lastName}}</h3>
		</ion-label>
	</ion-item>
	<ion-item lines="none" *ngIf="customer.telPhoneNumber !== ''">
		<ion-avatar slot="start">
			<ion-icon  color="primary" name="call-outline" size="large"></ion-icon>
		</ion-avatar>
		<ion-label >
			<h3>{{customer.telPhoneNumber}}</h3>
			<p>{{'CUSTOMER.MOBILEPHONENUMBER' | translate}}</p>
		</ion-label>
	</ion-item>

	<ion-item lines="none" *ngIf="customer.telFixNumber !== ''">
		<ion-avatar slot="start">
			<ion-icon  color="primary" name="call-outline" size="large"></ion-icon>
		</ion-avatar>
		<ion-label >
			<h3>{{customer.telFixNumber}}</h3>
			<p>{{'CUSTOMER.FIXEDPHONENUMBER' | translate}}</p>
		</ion-label>
	</ion-item>

	<ion-item lines="none"  href="tel:{{customer.guardianNumber}}" *ngIf="customer.guardianNumber !== ''">
		<ion-avatar slot="start">
			<ion-icon  color="primary" name="call-outline" size="large"></ion-icon>
		</ion-avatar>
		<ion-label >
			<h3>{{customer.guardianNumber}}</h3>
			<p>{{'CUSTOMER.GUARDIANPHONENUMBER' | translate}}</p>
		</ion-label>
	</ion-item>

	<ion-item lines="none" *ngIf="customer.email !== ''">
		<ion-avatar slot="start">
			<ion-icon color="primary" name="mail-outline" size="large"></ion-icon>
		</ion-avatar>
		<ion-label >
			<h3>{{customer.email}}</h3>
		</ion-label>
	</ion-item>


	<ion-item  lines="none" >
		<ion-avatar slot="start">
			<ion-icon color="primary" name="navigate-circle-outline" size="large"></ion-icon>
		</ion-avatar>
		<ion-label>		
			<h3>	{{customer.googleAddress}}</h3>		
		</ion-label>
	</ion-item>

	<ion-item >
			<ion-label  class="ion-text-wrap">{{'CUSTOMER.ReceivePushNotif' | translate}}</ion-label>
			<ion-toggle slot="start" [(ngModel)]="receivePushNotif" (ionChange)="updatePushNotifRequest()"></ion-toggle>
		</ion-item>

</ion-content>
