<ion-content>
	<ion-list>
		<ion-list-header>
			<h2>{{'VISIT.AnalyseTitle' | translate}}</h2>
		</ion-list-header>
		<ion-item lines="none">
			<ion-label  class="ion-padding-bottom" >
				<ion-text>{{'VISIT.AnalyseChlore' | translate}}</ion-text>
				<ion-text *ngIf="visit.technique.chlore ===''" class="unknown ion-margin-start" >{{'COMMON.Unknown' | translate}}</ion-text>
				<div  *ngIf="visit.technique.chlore !==''">
					<ion-grid class="analyses">
						<ion-row>
							<ion-col class="cell" *ngFor="let step of chloreSteps"  [ngClass]="{'selected': visit.technique.chlore === step.value }" style="background-color:{{step.backgroundColor}}" >
								<ion-text>{{step.value}}</ion-text>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
			</ion-label>
			
		</ion-item>
		<ion-item  lines="none"  >
			<ion-label  class="ion-padding-bottom">
				<ion-text>{{'VISIT.AnalysePH' | translate}}	</ion-text>
				<ion-text *ngIf="visit.technique.PH ===''" class="unknown ion-margin-start">{{'COMMON.Unknown' | translate}}</ion-text>
				<div *ngIf="visit.technique.PH !==''">
					<ion-grid class="analyses">
						<ion-row>
							<ion-col class="cell" *ngFor="let step of PHSteps"  [ngClass]="{'selected': visit.technique.PH === step.value }" style="background-color:{{step.backgroundColor}}" >
								<ion-text>{{step.value}}</ion-text>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
			</ion-label> 
		</ion-item>
		<ion-item lines="none" class="readOnlyTemp">
			<ion-label class="readOnlyTemp">
				<ion-text slot="start" class="readOnlyTemp">{{'VISIT.WaterTemperature' | translate}} : {{visit.technique.waterTemperature}}</ion-text>
				<div>
					<ion-range min="10" max="40" step="1" name="waterTemperature"  [(ngModel)]="visit.technique.waterTemperature" disabled class="readOnlyTemp" pin="true">
						<ion-icon size="small" color="primary" slot="start" name="thermometer-outline"></ion-icon>
						<ion-label slot="start">10</ion-label>
						<ion-label slot="end">40</ion-label>
						<ion-icon slot="end" color="primary" name="thermometer-outline"></ion-icon>
					</ion-range>
				</div>
			</ion-label>
		</ion-item>
		<div>
			<ion-grid>
				<ion-row>
					<ion-col class="ion-text-center">
						<div>
							<ion-text >{{'VISIT.AnalyseSalt' | translate}}</ion-text>
						</div>
						<div>
							<ion-input class="borderInput inlineAnalyseBorder" readOnly name="sel" type="number" [(ngModel)]="visit.technique.sel" readonly></ion-input>
						</div>
					</ion-col>
					<ion-col class="ion-text-center">
						<div>
							<ion-text >{{'VISIT.AnalyseTAC' | translate}}</ion-text>
						</div>
						<div>
							<ion-input class="borderInput inlineAnalyseBorder" readOnly name="TAC" type="number"  [(ngModel)]="visit.technique.TAC" readonly></ion-input>
						</div>
					</ion-col>
					<ion-col class="ion-text-center">
						<div>
							<ion-text >{{'VISIT.AnalyseStabiliser' | translate}}</ion-text>
						</div>
						<div>
							<ion-input  class="borderInput inlineAnalyseBorder" readOnly name="stabilisant" type="number"  [(ngModel)]="visit.technique.stabilisant"></ion-input>
						</div>
					</ion-col>
					<ion-col class="ion-text-center">
						<div>
							<ion-text >{{'VISIT.AnalyseTH' | translate}}</ion-text>
						</div>
						<div>
							<ion-input  class="borderInput inlineAnalyseBorder" readOnly name="th" type="number"  [(ngModel)]="visit.technique.th"></ion-input>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>

		</div>
		<ion-item lines="none">
			<ion-label>{{'VISIT.SettingOrderModification' | translate}}</ion-label>
			<ion-checkbox slot="start" disabled="true" [(ngModel)]="visit.technique.settingOrderModification"></ion-checkbox>
		</ion-item>
		<ion-item>
			<ion-text>{{'VISIT.WaterMeterLevel' | translate}}</ion-text>
			<ion-text *ngIf="visit.technique.waterMeter !== 0" class="ion-margin-start">{{visit.technique.waterMeter}}</ion-text> 
			<ion-text *ngIf="visit.technique.waterMeter === 0" class="unknown ion-margin-start">{{'COMMON.Unknown' | translate}}</ion-text>
		</ion-item>
	</ion-list>
	<ion-list>
		<ion-list-header>
			<h2>{{'VISIT.IntroducedProductsTitle' | translate}}</h2>
		</ion-list-header>
		<ion-item>
			<ion-text>{{'VISIT.IntroducedProductChlore' | translate}}</ion-text>
			<ion-text *ngIf="visit.technique.productChlore !==''" class="ion-margin-start">{{visit.technique.productChlore}}</ion-text> 
			<ion-text *ngIf="visit.technique.productChlore ===''" class="unknown ion-margin-start">{{'COMMON.Unknown' | translate}}</ion-text>
		</ion-item>
		<ion-item>
			<ion-text>{{'VISIT.IntroducedProductPH' | translate}}</ion-text>
			<ion-text *ngIf="visit.technique.productPH !==''" class="ion-margin-start">{{visit.technique.productPH}}</ion-text> 
			<ion-text *ngIf="visit.technique.productPH ===''" class="unknown ion-margin-start">{{'COMMON.Unknown' | translate}}</ion-text>
		</ion-item>
		<ion-item>
			<ion-text>{{'VISIT.IntroducedProductSalt' | translate}}</ion-text>
			<ion-text *ngIf="visit.technique.productSel !==''" class="ion-margin-start">{{visit.technique.productSel}}</ion-text> 
			<ion-text *ngIf="visit.technique.productSel ===''" class="unknown ion-margin-start">{{'COMMON.Unknown' | translate}}</ion-text>
		</ion-item>
		<ion-item>
			<ion-text>{{'VISIT.IntroducedProductFloculent' | translate}}</ion-text>
			<ion-text *ngIf="visit.technique.productFloculent !==''" class="ion-margin-start">{{visit.technique.productFloculent}}</ion-text> 
			<ion-text *ngIf="visit.technique.productFloculent ===''" class="unknown ion-margin-start">{{'COMMON.Unknown' | translate}}</ion-text>
		</ion-item>
		<ion-item>
			<ion-text>{{'VISIT.PHMinusPowder' | translate}}</ion-text>
			<ion-text *ngIf="visit.technique.pHMinusPowder !==''" class="ion-margin-start">{{visit.technique.pHMinusPowder}}</ion-text> 
			<ion-text *ngIf="visit.technique.pHMinusPowder ===''" class="unknown ion-margin-start">{{'COMMON.Unknown' | translate}}</ion-text>
		</ion-item>
		<ion-item>
			<ion-text>{{'VISIT.HydrochloricAcid' | translate}}</ion-text>
			<ion-text *ngIf="visit.technique.hydrochloricAcid !==''" class="ion-margin-start">{{visit.technique.hydrochloricAcid}}</ion-text> 
			<ion-text *ngIf="visit.technique.hydrochloricAcid ===''" class="unknown ion-margin-start">{{'COMMON.Unknown' | translate}}</ion-text>
		</ion-item>
		<ion-item>
			<ion-text>{{'VISIT.PHMinusLiquid' | translate}}</ion-text>
			<ion-text *ngIf="visit.technique.pHMinusLiquid !==''" class="ion-margin-start">{{visit.technique.pHMinusLiquid}}</ion-text> 
			<ion-text *ngIf="visit.technique.pHMinusLiquid ===''" class="unknown ion-margin-start">{{'COMMON.Unknown' | translate}}</ion-text>
		</ion-item>
		<ion-item *ngIf="visit.technique.productOther !==''">
			<ion-text>{{'VISIT.IntroducedProductOther' | translate}}</ion-text>
			<ion-text *ngIf="visit.technique.productOther !==''" class="ion-margin-start">{{visit.technique.productOther}}</ion-text> 
			<ion-text *ngIf="visit.technique.productOther ===''" class="unknown ion-margin-start">{{'COMMON.Unknown' | translate}}</ion-text>
		</ion-item>
	</ion-list>
</ion-content>
