<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title *ngIf="offlinevisitMode ===false">{{'VISIT.VisitsTitle' | translate}}</ion-title>
		<ion-title *ngIf="offlinevisitMode ===true">{{'VISIT.VisitsOfflineTitle' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>
<ion-fab vertical="top" horizontal="end" slot="fixed"  >
	<ion-fab-button (click)="presentActionSheet()">
		<ion-icon name="add"></ion-icon>
	</ion-fab-button>
</ion-fab>
<ion-content>
	<ion-list>
		<ion-item *ngFor="let visit of visits | async" [routerLink]="['/visits/' + visit.visitKey]">
			<ion-avatar slot="start" class="avatarListVisits"  [ngClass]="{'full': visit.typeOfVisit ==='full' , 
			'controle': visit.typeOfVisit ==='controle' , 'maintenance': visit.typeOfVisit ==='maintenance' }">
			<ion-icon name="shield-checkmark"></ion-icon>
			<div *ngIf="visit" class="typeOfVisitWrapper">
				<span *ngIf="visit.typeOfVisit ==='full'">{{'VISIT.VisitTypeFull' | translate}}</span>
				<span *ngIf="visit.typeOfVisit ==='controle'">{{'VISIT.VisitTypeControl' | translate}}</span>
				<span *ngIf="visit.typeOfVisit ==='maintenance'">{{'VISIT.VisitTypeMaintenance' | translate}}</span>
			</div>
		</ion-avatar>
		<ion-label>
			<h3 *ngIf="visit.dateTime"><b>{{ visit.dateTime | date:'medium' }}</b> </h3>
			<h4 *ngIf="visit.customer.data !==null">{{'VISIT.Customer' | translate}}{{ visit.customer.data.firstName}} {{ visit.customer.data.lastName}} </h4>

			<p *ngIf="visit.employee.data !==null">{{'VISIT.VisitPerformedBY' | translate}} {{visit.employee.data.firstName }} {{visit.employee.data.lastName}}</p>
			<p *ngIf="visit.generalStatusKO ===true">
				<ion-icon name="warning" color="danger"></ion-icon>
				<ion-text color="danger">{{'VISIT.NewInterventionRequired' | translate}}</ion-text>
			</p>
		</ion-label>
		<ion-note >
			<div class="KPITitle ion-text-right">
				{{'VISIT.AnalyseChlore'| translate}}
			</div>
			<div class="KPIValue ">
				{{visit.technique.chlore}}
			</div>
		</ion-note >
		<ion-note class="ion-margin-start">
			<div class="KPITitle ion-text-right">
				{{'VISIT.AnalysePH'| translate}}
			</div>
			<div class="KPIValue ">
				{{visit.technique.PH}}
			</div>
		</ion-note>
		<ion-note class="ion-hide-sm-down ion-margin-start">
			<div class="KPITitle ion-text-right">
				{{'VISIT.AnalyseSalt'| translate}}    
			</div>
			<div class="KPIValue ">
				{{visit.technique.sel}}
			</div>
		</ion-note>
		<ion-note class="ion-hide-sm-down  ion-margin-start">
			<div class="KPITitle ion-text-right">
				{{'VISIT.AnalyseTAC'| translate}}    
			</div>
			<div class="KPIValue ">
				{{visit.technique.TAC}}
			</div>
		</ion-note>
		<ion-note class="ion-hide-sm-down ion-margin-start">
			<div class="KPITitle ion-text-right">
				{{'VISIT.AnalyseStabiliserShort'| translate}}
			</div>
			<div class="KPIValue ">
				{{visit.technique.stabilisant}}
			</div>
		</ion-note>
	</ion-item>
</ion-list>

</ion-content>