.infoCard{
	--background: var(--ion-color-primary);
	color:#ffffff;
	ion-card-title{
		color:#FFFFFF;
	}
}
.observation{
	--background: var(--ion-color-tertiary);

}
.poolShape{
	max-height: 60px;
    margin-right: 1em;
}