<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title *ngIf="mode === 'add'">{{'ADDACCOUNT.TitleAdd' | translate}}</ion-title>
		<ion-title *ngIf="mode === 'update'">{{'ADDACCOUNT.TitleUpdate' | translate}}</ion-title>
		<ion-buttons slot="end">
			<ion-button color="primary" fill="solid" (click)="submitForm()" >
				<span *ngIf="mode === 'update'" class="spanButton">{{'ADDACCOUNT.UpdateAccount' | translate}}</span>
				<span *ngIf="mode === 'add'"  class="spanButton">{{'ADDACCOUNT.AddAccount' | translate}}</span>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-list-header>General Configuration</ion-list-header>
		<ion-item>
			<ion-label position="floating">Name</ion-label>
			<ion-input type="text" [(ngModel)]="account.name" ></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Url for landing page</ion-label>
			<ion-input type="text" [(ngModel)]="account.configuration.logoPictureUrl" ></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating"> Name for landing page</ion-label>
			<ion-input type="text" [(ngModel)]="account.configuration.nameLoginPage" ></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Plan (free or premium)</ion-label>
			<ion-input type="text" [(ngModel)]="account.plan" ></ion-input>
		</ion-item>

	</ion-list>
	<ion-list>
		<ion-list-header>Email Configuration</ion-list-header>
		<ion-item>
			<ion-label >Envoyer un email apres chaque visite</ion-label>
			<ion-toggle slot="start" [(ngModel)]="account.configuration.emailConfiguration.sendEmailAfterVisit" ></ion-toggle>
		</ion-item>
		<ion-item>
			<ion-label position="floating">from Email</ion-label>
			<ion-input type="text" [(ngModel)]="account.configuration.emailConfiguration.serverEmail.from.email" ></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">from Name</ion-label>
			<ion-input type="text" [(ngModel)]="account.configuration.emailConfiguration.serverEmail.from.name" ></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">reply_to Email</ion-label>
			<ion-input type="text" [(ngModel)]="account.configuration.emailConfiguration.serverEmail.reply_to.email" ></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">reply_to Name</ion-label>
			<ion-input type="text" [(ngModel)]="account.configuration.emailConfiguration.serverEmail.reply_to.name" ></ion-input>
		</ion-item>
		<ion-item >
			<ion-label position="floating">Password Email </ion-label>
			<ion-input type="password" [(ngModel)]="account.configuration.emailConfiguration.serverEmail.emailServerPassword" ></ion-input>
		</ion-item>
		<ion-item >
			<ion-label position="floating">visitKO template : </ion-label>
			<ion-input type="text" [(ngModel)]="account.configuration.emailConfiguration.emailTemplates.visitKO" ></ion-input>
		</ion-item>
		<ion-item >
			<ion-label position="floating">visitOK template : </ion-label>
			<ion-input type="text" [(ngModel)]="account.configuration.emailConfiguration.emailTemplates.visitOK" ></ion-input>
		</ion-item>
		<ion-item >
			<ion-label position="floating">welcomeCustomer template : </ion-label>
			<ion-input type="text" [(ngModel)]="account.configuration.emailConfiguration.emailTemplates.welcomeCustomer" ></ion-input>
		</ion-item>
		<ion-item >
			<ion-label position="floating">welcomeEmployee template : </ion-label>
			<ion-input type="text" [(ngModel)]="account.configuration.emailConfiguration.emailTemplates.welcomeEmployee" ></ion-input>
		</ion-item>
		<ion-item >
			<ion-label position="floating">welcomeEmployee template : </ion-label>
			<ion-input type="text" [(ngModel)]="account.configuration.emailConfiguration.emailTemplates.welcomeEmployee" ></ion-input>
		</ion-item>

	</ion-list>
</ion-content>
