<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button ></ion-back-button>
		</ion-buttons>
		<ion-title >
			<span *ngIf="mode==='add'">{{'VISIT.AddVisitTitle' | translate}}</span>
			<span *ngIf="mode==='update'">{{ newVisit.dateTime | date:'d MMM y' }}</span>
			<div>
				<ion-text color="primary"><h6 class="subTitle"> {{customer.firstName}} {{customer.lastName}}</h6></ion-text>
			</div>
		</ion-title>
		<ion-buttons slot="end">
			<ion-button color="primary" fill="solid" (click)="saveRequest()">
				{{'VISIT.AddVisitSave' | translate}}
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-item *ngIf="nextComeBackDisplay == true" class="message" lines="none">
		<ion-avatar slot="start" class="ion-hide-sm-down">
			<ion-icon name="notifications-outline" size="large"></ion-icon>
		</ion-avatar>
		<ion-avatar slot="end" >
			<ion-icon name="close-outline" size="large" (click)="closeMessage()" class="clickable"></ion-icon>
		</ion-avatar>
		<ion-label>
			{{'CUSTOMER.ComeBack' | translate}} {{customer.nextComeBack.returnDate | date:'mediumDate'}}
			<div *ngIf="customer.nextComeBack.heatPompRequest === true">{{'CUSTOMER.ComeBackHeatPompRequest' | translate}}</div>
		</ion-label>
	</ion-item>
<ion-content>
	
	<ion-tabs>
		<ion-tab-bar slot="top">
			<ion-tab-button tab="maintenance" selected>
				<ion-icon name="construct"></ion-icon>
				<ion-label>{{'VISIT.MainteanceTitle' | translate}} </ion-label>
			</ion-tab-button>

			<ion-tab-button tab="technique">
				<ion-icon name="options"></ion-icon>
				<ion-label>{{'VISIT.TechnicalTitle' | translate}} </ion-label>
			</ion-tab-button>
			<ion-tab-button tab="observation">
				<ion-icon name="eye"></ion-icon>
				<ion-label>{{'VISIT.ObservationsTitle' | translate}} </ion-label>

			</ion-tab-button>

		</ion-tab-bar>
	</ion-tabs>
</ion-content>
