<ion-content>
	<ion-card class="welcome-card">
		<ion-card-header>
			<ion-card-subtitle>Evolution PH</ion-card-subtitle>
			<ion-card-title>Evolution PH</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<canvas #barChart></canvas>
		</ion-card-content>
	</ion-card>
	<ion-card class="welcome-card">
		<ion-card-header>
			<ion-card-subtitle>Evolution Chlore</ion-card-subtitle>
			<ion-card-title>Evolution Chlore</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<canvas #barChart></canvas>
		</ion-card-content>
	</ion-card>
</ion-content>
