<ion-content>
	<ion-card class="welcome-card">
		<ion-card-header>
			<ion-card-title>Evolution PH</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<canvas #phChart></canvas>
		</ion-card-content>
	</ion-card>
	<ion-card class="welcome-card">
		<ion-card-header>
			<ion-card-title>Evolution Chlore</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<canvas #chloreChart></canvas>
		</ion-card-content>
	</ion-card>
	<ion-card class="welcome-card">
		<ion-card-header>
			<ion-card-title>Evolution Temperature</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<canvas #temperatureChart></canvas>
		</ion-card-content>
	</ion-card>
	<ion-card class="welcome-card">
		<ion-card-header>
			<ion-card-title>Evolution Alcalinomètrique complet</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<canvas #TACChart></canvas>
		</ion-card-content>
	</ion-card>
</ion-content>
