<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{swimmingPool.name}} <div><ion-text size="small"> {{customer.firstName}} {{customer.lastName}}</ion-text></div></ion-title>

		<ion-buttons slot="end">
			<ion-button [routerLink]="['/customers/'+uid+'/swimming-pool/' +poolId+ '/edit-swimming-pool',{ mode: 'update'}]">
				<ion-icon name="pencil" ></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-tabs>
		<ion-tab-bar slot="top">
			<ion-tab-button tab="information" selected >
				<ion-icon name="information-circle"></ion-icon>
				<ion-label>{{'SWIMMINGPOOL.Information' | translate}} </ion-label>
			</ion-tab-button>

			<ion-tab-button tab="visits"> 
				<ion-icon name="shield-checkmark"></ion-icon>
				<ion-label>{{'SWIMMINGPOOL.Visits' | translate}} </ion-label>
				<ion-badge color="primary">{{swimmingPool.numberOfVisits}}</ion-badge>
			</ion-tab-button>
		</ion-tab-bar>
	</ion-tabs>
</ion-content>