.backgroundLogin{
	background-color: var(--ion-color-primary);
	background: linear-gradient(45deg,   var(--ion-color-primary) 0%,rgba(66, 245, 189,0.4) 100%);
	height: 100%;
	width: 100%;
	position: relative;
}

.ionCardLogin{
	margin: 0;
	position: absolute;
	top: 50%;
	min-width:300px;
	max-width:300px;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	left: 50%;
}
.errorItem{
	border:1px solid  var(--ion-color-warning);
	border-radius: 3px;
	--background:#ffc40914

}
.errorMessage{
	font-size: 	0.9em;
	color: var(--ion-color-warning);
}
.icon{
	font-size:2em;
	color: var(--ion-color-warning);
}
