
<ion-content >
	<div class="backgroundLogin">

		<ion-card class="ionCardLogin">
			<img src="/assets/images/piscinetLogo.jpg" />
			<ion-card-header>
				<ion-card-title>{{'LOGIN.Welcome' | translate}}</ion-card-title>
				<ion-card-subtitle *ngIf="mode ==='login'">{{'LOGIN.PleaseConnect' | translate}}</ion-card-subtitle>
				<ion-card-subtitle *ngIf="mode ==='resetPassword'">{{'LOGIN.RequestNewPasswordText' | translate}}</ion-card-subtitle>
			</ion-card-header>
			<ion-card-content>
				<form class="form" #form="ngForm" (ngSubmit)="loginUser(form)" *ngIf="mode ==='login'">
					<ion-item lines="none" class="errorItem" *ngIf="errorMessage!==''">
						<ion-icon name="warning" class="icon ion-margin-end"></ion-icon>
						<label class="errorMessage">{{errorMessage}}</label>
					</ion-item>
					<ion-item>
						<ion-label position="floating" color="primary">{{'LOGIN.Email' | translate}}</ion-label>
						<ion-input  name="email" type="email" ngModel required></ion-input>
					</ion-item>

					<ion-item>
						<ion-label position="floating" color="primary">{{'LOGIN.Password' | translate}}</ion-label>
						<ion-input name="password" type="password" ngModel required></ion-input>
					</ion-item>
					<div *ngIf="mode ==='login'" class="ion-text-end ion-margin-bottom">
						<ion-text (click)="requestResetPasswordPage()" class="linkStyle ion-text-end">{{'LOGIN.ForgottenPassword' | translate}}</ion-text>
					</div>

					<ion-button class="submit-btn" type="submit" >{{'LOGIN.LoginButton' | translate}}</ion-button>

					
					
				</form>
				
				<div *ngIf="mode ==='resetPassword'">
					<ion-item>
						<ion-label position="floating" color="primary">{{'LOGIN.Email' | translate}}</ion-label>
						<ion-input  name="email" type="text" [(ngModel)]="emailResetPassword"></ion-input>
					</ion-item>

					<ion-item lines="none">
						<ion-button color="medium" (click)="resetPasswordCancel()" >{{'LOGIN.ResetPasswordCancelButton' | translate}}</ion-button>
						<ion-button class="submit-btn" (click)="resetPassword()" >{{'LOGIN.ResetPasswordButton' | translate}}</ion-button>
					</ion-item>
				</div>
			</ion-card-content>
		</ion-card>
	</div>
	
</ion-content>