<ion-searchbar showcancelbutton="" placeholder="{{'CUSTOMERS.Filter' | translate}}" (ionInput)="filterList($event)"
></ion-searchbar>
<ion-list>
	<ion-item *ngFor="let customer of customers " [routerLink]="['/customers/' + customer.key]" [ngClass]="{'visible': (customer.data.lastName.toLowerCase().indexOf(searchTerm.toLowerCase()) > -1 || customer.data.firstName.toLowerCase().indexOf(searchTerm.toLowerCase()) > -1 ),'hidden': (customer.data.lastName.toLowerCase().indexOf(searchTerm.toLowerCase()) === -1 || customer.data.firstName.toLowerCase().indexOf(searchTerm.toLowerCase()) === -1)}">
		<ion-avatar  class="avatar" slot="start">
			<ngx-avatar name="{{ customer.data.firstName }} {{ customer.data.lastName}}"></ngx-avatar>
		</ion-avatar>
		<ion-label>
			<h2>{{ customer.data.firstName }} {{ customer.data.lastName}}</h2>
			<h3><a href="tel:{{customer.data.telPhoneNumber}}">{{ customer.data.telPhoneNumber}}</a></h3>
			<h3>{{customer.data.googleAddress}}</h3>
		</ion-label>
	</ion-item>
</ion-list>
