<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title >
			<span *ngIf="mode === 'add'">{{'ADDSWIMMINGPOOL.TitleAdd' | translate}}</span>
			<span *ngIf="mode === 'update'">{{'ADDSWIMMINGPOOL.TitleUpdate' | translate}}</span>
			<div>
				<ion-text color="primary"><h6 class="subTitle"> {{customer.firstName}} {{customer.lastName}}</h6></ion-text>
			</div>
		</ion-title>
		<ion-buttons  slot="end">
			<ion-button color="primary" fill="solid" (click)="submitForm()" >
				<span *ngIf="mode === 'add'" class="spanButton">{{'ADDSWIMMINGPOOL.AddButton' | translate}}</span>
				<span *ngIf="mode === 'update'" class="spanButton">{{'ADDSWIMMINGPOOL.UpdateButton' | translate}}</span>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>


</ion-header>

<ion-content>
	<ion-item>
		<ion-label position="stacked">{{'ADDSWIMMINGPOOL.Name' | translate}} <ion-text color="danger">*</ion-text></ion-label>
		<ion-input  name="name" type="text" [(ngModel)]="swimmingPool.name"  required></ion-input>
	</ion-item>
	<ion-list>
		<ion-list-header>
			<h3>{{'ADDSWIMMINGPOOL.GeneralDimension' | translate}}</h3>	
		</ion-list-header>
		<ion-segment scrollable name="shape" [(ngModel)]="swimmingPool.shape">
			<ion-segment-button value="rectangular" layout="icon-start" class="segmentButtonOverride">
				<ion-label>{{'ADDSWIMMINGPOOL.Rectangular' | translate}}</ion-label>
			</ion-segment-button>
			<ion-segment-button value="square" layout="icon-start" class="segmentButtonOverride">
				<ion-label>{{'ADDSWIMMINGPOOL.Square' | translate}}</ion-label>
			</ion-segment-button>
			<ion-segment-button value="swimmingLane" layout="icon-start" class="segmentButtonOverride">
				<ion-label>{{'ADDSWIMMINGPOOL.SwimmingLane' | translate}}</ion-label>
			</ion-segment-button>
			<ion-segment-button value="bean" layout="icon-start" class="segmentButtonOverride">
				<ion-label>{{'ADDSWIMMINGPOOL.Bean' | translate}}</ion-label>
			</ion-segment-button>
		</ion-segment>
		<ion-grid>
			<ion-row>
				<ion-col class="ion-text-center">
					<div>
						<ion-text>{{'ADDSWIMMINGPOOL.Length' | translate}} <ion-text color="danger">*</ion-text></ion-text>
					</div>
					<div>
						<ion-input class="borderInput inlineAnalyseBorder" name="length" type="number"  [(ngModel)]="swimmingPool.length" required></ion-input>
					</div>
				</ion-col>
				<ion-col class="ion-text-center">
					<div>
						<ion-text>{{'ADDSWIMMINGPOOL.Width' | translate}} <ion-text color="danger">*</ion-text></ion-text>
					</div>
					<div>
						<ion-input class="borderInput inlineAnalyseBorder" name="width" type="number"  [(ngModel)]="swimmingPool.width" required></ion-input>
					</div>
				</ion-col>
				<ion-col class="ion-text-center">
					<div>
						<ion-text>{{'ADDSWIMMINGPOOL.Depth' | translate}} <ion-text color="danger">*</ion-text></ion-text>
					</div>
					<div>
						<ion-input class="borderInput inlineAnalyseBorder" name="depth" type="number"  [(ngModel)]="swimmingPool.depth" required></ion-input>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-list>
	<ion-list>
		<ion-list-header>
			<h3>{{'ADDSWIMMINGPOOL.GeneralInformation' | translate}}</h3>
		</ion-list-header>

		<ion-item lines="none">
			<h5>
				{{'ADDSWIMMINGPOOL.Environment' | translate}}
			</h5>
		</ion-item>
		<ion-item>
			
			<ion-range name="environment" min="0" max="2" step="1" snaps="true" ticks="true" color="primary" [(ngModel)]="swimmingPool.environment">
				<ion-icon size="small" slot="start" name="leaf" color="primary"></ion-icon>
				<ion-icon slot="end" name="leaf" color="primary"></ion-icon>
				<ion-label slot="start">{{'ADDSWIMMINGPOOL.NoVegetation' | translate}}</ion-label>
				<ion-label slot="end">{{'ADDSWIMMINGPOOL.LotOfVegetation' | translate}}</ion-label>
			</ion-range>
		</ion-item>
		<ion-item lines="none">
			<h5>
				{{'ADDSWIMMINGPOOL.State' | translate}}
			</h5>
		</ion-item>
		<ion-item>
			<ion-range name="state" min="0" max="3" step="1" snaps="true" ticks="true" color="primary" [(ngModel)]="swimmingPool.state">
				<ion-icon  slot="start" name="thumbs-down" color="primary"></ion-icon>
				<ion-icon slot="end" name="thumbs-up" color="primary"></ion-icon>
				<ion-label slot="start">{{'ADDSWIMMINGPOOL.BadState' | translate}}</ion-label>
				<ion-label slot="end">{{'ADDSWIMMINGPOOL.VeryGoodState' | translate}}</ion-label>
			</ion-range>
		</ion-item>



		<ion-item>
			<ion-label lines="none">
				<div><ion-text>{{'ADDSWIMMINGPOOL.Cover' | translate}}</ion-text></div>
				<div>
					<ion-segment scrollable name="cover" [(ngModel)]="swimmingPool.cover">
						<ion-segment-button value="liner" layout="icon-start" class="segmentButtonOverride">
							<ion-label>{{'ADDSWIMMINGPOOL.Liner' | translate}}</ion-label>
						</ion-segment-button>
						<ion-segment-button value="PVC" layout="icon-start" class="segmentButtonOverride">
							<ion-label>{{'ADDSWIMMINGPOOL.PVC' | translate}}</ion-label>
						</ion-segment-button>
						<ion-segment-button value="mosaic" layout="icon-start" class="segmentButtonOverride">
							<ion-label>{{'ADDSWIMMINGPOOL.Mosaic' | translate}}</ion-label>
						</ion-segment-button>
						<ion-segment-button value="polyester" layout="icon-start" class="segmentButtonOverride">
							<ion-label>{{'ADDSWIMMINGPOOL.Polyester' | translate}}</ion-label>
						</ion-segment-button>
						<ion-segment-button value="coatedConcrete" layout="icon-start" class="segmentButtonOverride">
							<ion-label>{{'ADDSWIMMINGPOOL.CoatedConcrete' | translate}}</ion-label>
						</ion-segment-button>
						<ion-segment-button value="moltenGlass" layout="icon-start" class="segmentButtonOverride">
							<ion-label>{{'ADDSWIMMINGPOOL.MoltenGlass' | translate}}</ion-label>
						</ion-segment-button>
					</ion-segment>
				</div>
			</ion-label>
		</ion-item>
		<ion-item lines="none">
			<ion-label>
				<div>
					<ion-text>{{'ADDSWIMMINGPOOL.Access' | translate}}</ion-text>
				</div>
				<div>
					<ion-segment scrollable name="access" [(ngModel)]="swimmingPool.access">
						<ion-segment-button value="ladder" layout="icon-start" class="segmentButtonOverride">
							<ion-label>{{'ADDSWIMMINGPOOL.Ladder' | translate}}</ion-label>
						</ion-segment-button>
						<ion-segment-button value="stairs" layout="icon-start" class="segmentButtonOverride">
							<ion-label>{{'ADDSWIMMINGPOOL.Stairs' | translate}}</ion-label>
						</ion-segment-button>
						<ion-segment-button value="beach" layout="icon-start" class="segmentButtonOverride">
							<ion-label>{{'ADDSWIMMINGPOOL.Beach' | translate}}</ion-label>
						</ion-segment-button>
					</ion-segment>
				</div>
			</ion-label>
		</ion-item>
		<ion-item>
			<ion-label>{{'ADDSWIMMINGPOOL.Barrier' | translate}}</ion-label>
			<ion-toggle slot="start" name="barrier"  [(ngModel)]="swimmingPool.barrier"></ion-toggle>
		</ion-item>
		<ion-item>
			<ion-label>{{'ADDSWIMMINGPOOL.AlarmElectronicSystem' | translate}}</ion-label>
			<ion-toggle slot="start" name="alarmElectronicSystem"  [(ngModel)]="swimmingPool.alarmElectronicSystem"></ion-toggle>
		</ion-item>
		
		<ion-item >
			<ion-label>{{'ADDSWIMMINGPOOL.Curtain' | translate}}</ion-label>
			<ion-toggle slot="start" name="curtain"  [(ngModel)]="swimmingPool.curtain"></ion-toggle>
		</ion-item>
		<ion-item>
			<ion-label>{{'ADDSWIMMINGPOOL.WinterCover' | translate}}</ion-label>
			<ion-toggle slot="start" name="winterCover"  [(ngModel)]="swimmingPool.winterCover"></ion-toggle>
		</ion-item>
		<div class="ion-margin-start" *ngIf="swimmingPool.winterCover ===true"  lines="none">
			<ion-radio-group name="coverType" [(ngModel)]="swimmingPool.coverType" >
				<ion-list-header>
					<ion-label>{{'ADDSWIMMINGPOOL.WinterCoverType' | translate}}</ion-label>
				</ion-list-header>
				<ion-item lines="none">
					<ion-label>{{'ADDSWIMMINGPOOL.CoverAutomatic' | translate}}</ion-label>
					<ion-radio slot="start" value="automatic"></ion-radio>
				</ion-item>
				<ion-item lines="none">
					<ion-label>{{'ADDSWIMMINGPOOL.CoverReel' | translate}}</ion-label>
					<ion-radio slot="start" value="reel"></ion-radio>
				</ion-item>
				<ion-item lines="none">
					<ion-label>{{'ADDSWIMMINGPOOL.CoverStretched' | translate}}</ion-label>
					<ion-radio slot="start" value="stretched"></ion-radio>
				</ion-item>	
			</ion-radio-group>
		</div>
	</ion-list>
	<ion-card>
		<ion-card-header>
			<ion-card-title>{{'SWIMMINGPOOL.SandFilter' | translate}}</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-item >
				<ion-label position="stacked">{{'SWIMMINGPOOL.BrandSandFilter' | translate}}</ion-label>
				<ion-input  name="brandSandFilter" type="text" [(ngModel)]="swimmingPool.brandSandFilter" ></ion-input>
			</ion-item>

			<ion-item >
				<ion-label>{{'ADDSWIMMINGPOOL.DateSandFilter' | translate}}</ion-label>
				<ion-datetime display-format="D MMM YYYY" picker-format="D MMM YYYY"   name="dateSandFilter" [(ngModel)]="swimmingPool.dateSandFilter"></ion-datetime>
			</ion-item>
			<ion-item >
				<ion-label position="stacked">{{'ADDSWIMMINGPOOL.SandFilterWeight' | translate}}</ion-label>
				<ion-input name="sandFilterWeight" type="number" [(ngModel)]="swimmingPool.sandFilterWeight" ></ion-input>
			</ion-item>
			<ion-item>
				<ion-label  class="ion-padding-bottom">
					<ion-text>{{'VISIT.SandfilterPressure' | translate}}</ion-text>
					<div>
						<ion-grid class="analyses">
							<ion-row>
								<ion-col class="cell" *ngFor="let step of sandfilterPressureSteps" (click)="savePressure(step.value)"  [ngClass]="{'selected': swimmingPool.cleanFilterPressure === step.value }" style="background-color:{{step.backgroundColor}}" >
									<ion-text>{{step.value}}</ion-text>
								</ion-col>
							</ion-row>
						</ion-grid>
					</div>
				</ion-label>

			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-title>{{'SWIMMINGPOOL.Filtration' | translate}}</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-item >
				<ion-label position="stacked">{{'ADDSWIMMINGPOOL.BrandFilter' | translate}}</ion-label>
				<ion-input  name="brandFilter" type="text" [(ngModel)]="swimmingPool.brandFilter" ></ion-input>
			</ion-item>
			<ion-item >
				<ion-label position="stacked">{{'ADDSWIMMINGPOOL.CVFilter' | translate}}</ion-label>
				<ion-input  name="cvFilter" type="text" [(ngModel)]="swimmingPool.cvFilter" ></ion-input>
			</ion-item>
			<ion-item >
				<ion-label>{{'ADDSWIMMINGPOOL.FilterDate' | translate}}</ion-label>
				<ion-datetime display-format="D MMM YYYY" picker-format="D MMM YYYY" name="dateFilter" [(ngModel)]="swimmingPool.dateFilter"></ion-datetime>
			</ion-item>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>
			<ion-card-title>{{'SWIMMINGPOOL.ElectronicalProduct' | translate}}</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-item >
				<ion-radio-group name="electronicalProduct" [(ngModel)]="swimmingPool.electronicalProduct" >
					<ion-list-header>
						<ion-label>{{'SWIMMINGPOOL.ElectronicalProductType' | translate}}</ion-label>
					</ion-list-header>
					<ion-item lines="none">
						<ion-label>{{'ADDSWIMMINGPOOL.Salt' | translate}}</ion-label>
						<ion-radio slot="start" value="salt"></ion-radio>
					</ion-item>
					<ion-item lines="none">
						<ion-label>{{'ADDSWIMMINGPOOL.Copper' | translate}}</ion-label>
						<ion-radio slot="start" value="copper"></ion-radio>
					</ion-item>	
					<ion-item lines="none">
						<ion-label>{{'ADDSWIMMINGPOOL.Chlorine' | translate}}</ion-label>
						<ion-radio slot="start" value="chlorine"></ion-radio>
					</ion-item>	
					<ion-item lines="none">
						<ion-label>{{'ADDSWIMMINGPOOL.UVSterilisation' | translate}}</ion-label>
						<ion-radio slot="start" value="UVSterilisation"></ion-radio>
					</ion-item>	
					<ion-item lines="none">
						<ion-label>{{'ADDSWIMMINGPOOL.Brome' | translate}}</ion-label>
						<ion-radio slot="start" value="brome"></ion-radio>
					</ion-item>	
					<ion-item lines="none">
						<ion-label>{{'ADDSWIMMINGPOOL.Chlorinator' | translate}}</ion-label>
						<ion-radio slot="start" value="chlorinator"></ion-radio>
					</ion-item>	
				</ion-radio-group>
			</ion-item>
			<ion-item>
				<ion-label>{{'ADDSWIMMINGPOOL.DateElectronicalProduct' | translate}}</ion-label>
				<ion-datetime display-format="D MMM YYYY" picker-format="D MMM YYYY" name="dateElectronicalProduct" [(ngModel)]="swimmingPool.dateElectronicalProduct"></ion-datetime>
			</ion-item>

		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-title>{{'SWIMMINGPOOL.OtherDevices' | translate}}</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-item lines="none">
				<ion-label>{{'ADDSWIMMINGPOOL.PH' | translate}}</ion-label>
				<ion-toggle slot="start" name="PH"  [(ngModel)]="swimmingPool.PH"></ion-toggle>
			</ion-item>
			<div class="ion-margin-start" *ngIf="swimmingPool.PH ===true">
				<ion-item> 
					<ion-label>{{'ADDSWIMMINGPOOL.PHDate' | translate}}</ion-label>
					<ion-datetime display-format="D MMM YYYY" picker-format="D MMM YYYY" name="PHDate" [(ngModel)]="swimmingPool.PHDate"></ion-datetime>
				</ion-item>
			</div>
			<ion-item lines="none">
				<ion-label>{{'ADDSWIMMINGPOOL.Pomp' | translate}}</ion-label>
				<ion-toggle slot="start" name="PHpomp"  [(ngModel)]="swimmingPool.pomp"></ion-toggle>
			</ion-item>
			<div class="ion-margin-start" *ngIf="swimmingPool.pomp ===true"  lines="none">
				<ion-item >
					<ion-label>{{'SWIMMINGPOOL.PompDate' | translate}}</ion-label>
					<ion-datetime display-format="D MMM YYYY" picker-format="D MMM YYYY" name="pompDate" [(ngModel)]="swimmingPool.pompDate"></ion-datetime>
				</ion-item>
				<ion-item >
					<ion-label>{{'SWIMMINGPOOL.PompBrand' | translate}}</ion-label>
					<ion-input  name="pompBrand" type="text" [(ngModel)]="swimmingPool.pompBrand" ></ion-input>
				</ion-item>
				<ion-item >
					<ion-label>{{'SWIMMINGPOOL.PompModel' | translate}}</ion-label>
					<ion-input  name="pompModel" type="text" [(ngModel)]="swimmingPool.pompModel" ></ion-input>
				</ion-item>
				<ion-item >
					<ion-label>{{'SWIMMINGPOOL.PompPower' | translate}}</ion-label>
					<ion-input  name="pompPower" type="text" [(ngModel)]="swimmingPool.pompPower" ></ion-input>
				</ion-item>
				<ion-radio-group name="pompPhase" [(ngModel)]="swimmingPool.pompPhase" >
					<ion-list-header>
						<ion-label>{{'SWIMMINGPOOL.PompPhase' | translate}}</ion-label>
					</ion-list-header>
					<ion-item lines="none">
						<ion-label>{{'SWIMMINGPOOL.PompPhaseMono' | translate}}</ion-label>
						<ion-radio slot="start" value="mono"></ion-radio>
					</ion-item>
					<ion-item lines="none">
						<ion-label>{{'SWIMMINGPOOL.PompPhaseTri' | translate}}</ion-label>
						<ion-radio slot="start" value="tri"></ion-radio>
					</ion-item>	
				</ion-radio-group>
			</div>
			<ion-item lines="none">
				<ion-label>{{'ADDSWIMMINGPOOL.AutomaticFill' | translate}}</ion-label>
				<ion-toggle slot="start" name="automaticFill"  [(ngModel)]="swimmingPool.automaticFill"></ion-toggle>
			</ion-item>
			<div class="ion-margin-start" *ngIf="swimmingPool.automaticFill ===true"  lines="none">
				<ion-item >
					<ion-label>{{'ADDSWIMMINGPOOL.AutomaticFillBrand' | translate}}</ion-label>
					<ion-input  name="automaticFillBrand" type="text" [(ngModel)]="swimmingPool.automaticFillBrand" ></ion-input>
				</ion-item>
				<ion-item >
					<ion-label>{{'ADDSWIMMINGPOOL.AutomaticFillModel' | translate}}</ion-label>
					<ion-input  name="automaticFillModel" type="text" [(ngModel)]="swimmingPool.automaticFillModel" ></ion-input>
				</ion-item>
				<ion-radio-group name="automaticFillType" [(ngModel)]="swimmingPool.automaticFillType" >
					<ion-list-header>
						<ion-label>{{'ADDSWIMMINGPOOL.AutomaticFillType' | translate}}</ion-label>
					</ion-list-header>
					<ion-item>
						<ion-label>{{'ADDSWIMMINGPOOL.AutomaticFillTypeElectronic' | translate}}</ion-label>
						<ion-radio slot="start" value="electronic"></ion-radio>
					</ion-item>
					<ion-item>
						<ion-label>{{'ADDSWIMMINGPOOL.AutomaticFillTypeWater' | translate}}</ion-label>
						<ion-radio slot="start" value="water"></ion-radio>
					</ion-item>	
				</ion-radio-group>
				<ion-item >
					<ion-label>{{'ADDSWIMMINGPOOL.AutomaticFillDate' | translate}}</ion-label>
					<ion-datetime display-format="D MMM YYYY" picker-format="D MMM YYYY" name="automaticFillDate" [(ngModel)]="swimmingPool.automaticFillDate"></ion-datetime>
				</ion-item>
			</div>
			<ion-item lines="none">
				<ion-label>{{'ADDSWIMMINGPOOL.CounterCurrent' | translate}}</ion-label>
				<ion-toggle slot="start" name="counterCurrent"  [(ngModel)]="swimmingPool.counterCurrent"></ion-toggle>
			</ion-item>
			<ion-item lines="none">
				<ion-label>{{'ADDSWIMMINGPOOL.Robot' | translate}}</ion-label>
				<ion-toggle slot="start" name="robot"  [(ngModel)]="swimmingPool.robot"></ion-toggle>
			</ion-item>
			<ion-item lines="none">
				<ion-label>{{'ADDSWIMMINGPOOL.FrostPreventionSystem' | translate}}</ion-label>
				<ion-toggle slot="start" name="frostPreventionSystem"  [(ngModel)]="swimmingPool.frostPreventionSystem"></ion-toggle>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-item>
		<ion-label  position="stacked">{{'ADDSWIMMINGPOOL.Observation' | translate}}</ion-label>
		<ion-textarea  name="observation" type="text"  [(ngModel)]="swimmingPool.observation"></ion-textarea>
	</ion-item>


</ion-content>
