.poolShape{
	max-width:30px;
}
.md .segmentButtonOverride {
	--background-checked:  var(--ion-color-primary);
	--color-checked	: #FFFFFF;
}
.inlineAnalyseBorder{
	margin-right:auto;
	margin-left: auto;
}