<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-avatar slot="start">
			<img src="./assets/images/swimmingPoolAvatar.png">
		</ion-avatar>
		<ion-title >
			<span *ngIf="mode === 'add'">{{'ADDSWIMMINGPOOL.TitleAdd' | translate}}</span>
			<span *ngIf="mode === 'update'">{{'ADDSWIMMINGPOOL.TitleUpdate' | translate}}</span>
			<div>
				<ion-text color="primary"><h6 class="subTitle"> {{customer.firstName}} {{customer.lastName}}</h6></ion-text>
			</div>
		</ion-title>
		<ion-buttons  slot="end">
			<ion-button color="primary" fill="outline" (click)="submitForm()" >
				<ion-icon name="save"></ion-icon>
				<span *ngIf="mode === 'add'" class="spanButton">{{'ADDSWIMMINGPOOL.AddButton' | translate}}</span>
				<span *ngIf="mode === 'update'" class="spanButton">{{'ADDSWIMMINGPOOL.UpdateButton' | translate}}</span>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>


</ion-header>

<ion-content>
	<ion-item>
		<ion-label position="stacked">{{'ADDSWIMMINGPOOL.Name' | translate}} <ion-text color="danger">*</ion-text></ion-label>
		<ion-input  name="name" type="text" [(ngModel)]="swimmingPool.name"  required></ion-input>
	</ion-item>
	<ion-list>
		<ion-list-header>
			{{'ADDSWIMMINGPOOL.GeneralDimension' | translate}}
		</ion-list-header>
		<ion-segment scrollable name="shape" [(ngModel)]="swimmingPool.shape">
			<ion-segment-button value="rectangular" layout="icon-start" class="segmentButtonOverride">
				<img src="./assets/images/pool_rectangular.png" alt="{{'ADDSWIMMINGPOOL.Rectangular' | translate}}" class="poolShape" />
				<ion-label>{{'ADDSWIMMINGPOOL.Rectangular' | translate}}</ion-label>
			</ion-segment-button>
			<ion-segment-button value="square" layout="icon-start" class="segmentButtonOverride">
				<img src="./assets/images/pool_square.png" alt="{{'ADDSWIMMINGPOOL.Square' | translate}}" class="poolShape" />
				<ion-label>{{'ADDSWIMMINGPOOL.Square' | translate}}</ion-label>
			</ion-segment-button>
			<ion-segment-button value="swimmingLane" layout="icon-start" class="segmentButtonOverride">
				<img src="./assets/images/pool_line.png" alt="{{'ADDSWIMMINGPOOL.SwimmingLane' | translate}}" class="poolShape" />
				<ion-label>{{'ADDSWIMMINGPOOL.SwimmingLane' | translate}}</ion-label>

			</ion-segment-button>
			<ion-segment-button value="bean" layout="icon-start" class="segmentButtonOverride">
				<img src="./assets/images/pool_bean.png" alt="{{'ADDSWIMMINGPOOL.Bean' | translate}}" class="poolShape" />
				<ion-label>{{'ADDSWIMMINGPOOL.Bean' | translate}}</ion-label>
			</ion-segment-button>
		</ion-segment>
		<ion-grid>
			<ion-row>
				<ion-col size="4">
					<ion-item>
						<ion-label position="stacked">{{'ADDSWIMMINGPOOL.Length' | translate}} <ion-text color="danger">*</ion-text></ion-label>
						<ion-input  name="length" type="text" [(ngModel)]="swimmingPool.length"  required></ion-input>
					</ion-item>
				</ion-col>
				<ion-col size="4">
					<ion-item>
						<ion-label position="stacked">{{'ADDSWIMMINGPOOL.Width' | translate}} <ion-text color="danger">*</ion-text></ion-label>
						<ion-input  name="width" type="text" [(ngModel)]="swimmingPool.width"  required></ion-input>
					</ion-item>
				</ion-col>
				<ion-col size="4">
					<ion-item>
						<ion-label position="stacked">{{'ADDSWIMMINGPOOL.Depth' | translate}} <ion-text color="danger">*</ion-text></ion-label>
						<ion-input  name="depth" type="text" [(ngModel)]="swimmingPool.depth"  required></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-list>
	<ion-list>
		<ion-list-header>
			{{'ADDSWIMMINGPOOL.GeneralInformation' | translate}}
		</ion-list-header>

		<ion-item>
			<ion-range name="environment" min="0" max="2" step="1" snaps="true" ticks="true" color="secondary" [(ngModel)]="swimmingPool.environment">
				<ion-icon size="small" slot="start" name="leaf"></ion-icon>
				<ion-icon slot="end" name="leaf"></ion-icon>
				<ion-label slot="start">{{'ADDSWIMMINGPOOL.NoVegetation' | translate}}</ion-label>
				<ion-label slot="end">{{'ADDSWIMMINGPOOL.LotOfVegetation' | translate}}</ion-label>
			</ion-range>
		</ion-item>
		<ion-item>
			<ion-range name="state" min="0" max="3" step="1" snaps="true" ticks="true" color="secondary" [(ngModel)]="swimmingPool.state">
				<ion-icon  slot="start" name="thumbs-down"></ion-icon>
				<ion-icon slot="end" name="thumbs-up"></ion-icon>
				<ion-label slot="start">{{'ADDSWIMMINGPOOL.BadState' | translate}}</ion-label>
				<ion-label slot="end">{{'ADDSWIMMINGPOOL.VeryGoodState' | translate}}</ion-label>
			</ion-range>
		</ion-item>



		<ion-item>
			<ion-item><ion-label>{{'ADDSWIMMINGPOOL.Cover' | translate}}</ion-label></ion-item>
			<ion-segment scrollable name="cover" [(ngModel)]="swimmingPool.cover">
				<ion-segment-button value="liner" layout="icon-start" class="segmentButtonOverride">
					<ion-label>{{'ADDSWIMMINGPOOL.Liner' | translate}}</ion-label>
				</ion-segment-button>
				<ion-segment-button value="PVC" layout="icon-start" class="segmentButtonOverride">
					<ion-label>{{'ADDSWIMMINGPOOL.PVC' | translate}}</ion-label>
				</ion-segment-button>
				<ion-segment-button value="mosaic" layout="icon-start" class="segmentButtonOverride">
					<ion-label>{{'ADDSWIMMINGPOOL.Mosaic' | translate}}</ion-label>
				</ion-segment-button>
				<ion-segment-button value="polyester" layout="icon-start" class="segmentButtonOverride">
					<ion-label>{{'ADDSWIMMINGPOOL.Polyester' | translate}}</ion-label>
				</ion-segment-button>
				<ion-segment-button value="coatedConcrete" layout="icon-start" class="segmentButtonOverride">
					<ion-label>{{'ADDSWIMMINGPOOL.CoatedConcrete' | translate}}</ion-label>
				</ion-segment-button>
			</ion-segment>
		</ion-item>
		<ion-item>
			<ion-item><ion-label>{{'ADDSWIMMINGPOOL.Access' | translate}}</ion-label></ion-item>
			<ion-segment scrollable name="access" [(ngModel)]="swimmingPool.access">
				<ion-segment-button value="ladder" layout="icon-start" class="segmentButtonOverride">
					<ion-label>{{'ADDSWIMMINGPOOL.Ladder' | translate}}</ion-label>
				</ion-segment-button>
				<ion-segment-button value="stairs" layout="icon-start" class="segmentButtonOverride">
					<ion-label>{{'ADDSWIMMINGPOOL.Stairs' | translate}}</ion-label>
				</ion-segment-button>
			</ion-segment>
		</ion-item>
		<ion-item>
			<ion-label>{{'ADDSWIMMINGPOOL.AlarmSystem' | translate}}</ion-label>
			<ion-toggle slot="start" name="warning"  [(ngModel)]="swimmingPool.warning"></ion-toggle>
		</ion-item>
		<ion-item>
			<ion-label>{{'ADDSWIMMINGPOOL.WinterCover' | translate}}</ion-label>
			<ion-toggle slot="start" name="winterCover"  [(ngModel)]="swimmingPool.winterCover"></ion-toggle>
		</ion-item>
	</ion-list>
	<ion-card>
		<ion-card-header>
			<ion-card-title>{{'SWIMMINGPOOL.SandFilter' | translate}}</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-item >
				<ion-label position="stacked">{{'SWIMMINGPOOL.BrandSandFilter' | translate}}</ion-label>
				<ion-input  name="brandSandFilter" type="text" [(ngModel)]="swimmingPool.brandSandFilter" ></ion-input>
			</ion-item>
			<ion-item >
				<ion-label>{{'ADDSWIMMINGPOOL.DateSandFilter' | translate}}</ion-label>
				<ion-datetime display-format="D MMM YYYY" picker-format="D MMM YYYY"   name="dateSandFilter" [(ngModel)]="swimmingPool.dateSandFilter"></ion-datetime>
			</ion-item>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-title>{{'SWIMMINGPOOL.Filtration' | translate}}</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-item >
				<ion-label position="stacked">{{'ADDSWIMMINGPOOL.BrandFilter' | translate}}</ion-label>
				<ion-input  name="brandFilter" type="text" [(ngModel)]="swimmingPool.brandFilter" ></ion-input>
			</ion-item>
			<ion-item >
				<ion-label position="stacked">{{'ADDSWIMMINGPOOL.CVFilter' | translate}}</ion-label>
				<ion-input  name="cvFilter" type="text" [(ngModel)]="swimmingPool.cvFilter" ></ion-input>
			</ion-item>
			<ion-item >
				<ion-label>{{'ADDSWIMMINGPOOL.FilterDate' | translate}}</ion-label>
				<ion-datetime display-format="D MMM YYYY" picker-format="D MMM YYYY" name="dateFilter" [(ngModel)]="swimmingPool.dateFilter"></ion-datetime>
			</ion-item>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>
			<ion-card-title>{{'SWIMMINGPOOL.ElectronicalProduct' | translate}}</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-item >
				<ion-radio-group name="electronicalProduct" [(ngModel)]="swimmingPool.electronicalProduct" >
					<ion-list-header>
						<ion-label>{{'SWIMMINGPOOL.ElectronicalProductType' | translate}}</ion-label>
					</ion-list-header>
					<ion-item>
						<ion-label>{{'ADDSWIMMINGPOOL.Salt' | translate}}</ion-label>
						<ion-radio slot="start" value="salt"></ion-radio>
					</ion-item>
					<ion-item>
						<ion-label>{{'ADDSWIMMINGPOOL.Copper' | translate}}</ion-label>
						<ion-radio slot="start" value="copper"></ion-radio>
					</ion-item>	
					<ion-item>
						<ion-label>{{'ADDSWIMMINGPOOL.Chlorine' | translate}}</ion-label>
						<ion-radio slot="start" value="chlorine"></ion-radio>
					</ion-item>	
				</ion-radio-group>
			</ion-item>
			<ion-item>
				<ion-label>{{'ADDSWIMMINGPOOL.DateElectronicalProduct' | translate}}</ion-label>
				<ion-datetime display-format="D MMM YYYY" picker-format="D MMM YYYY" name="dateElectronicalProduct" [(ngModel)]="swimmingPool.dateElectronicalProduct"></ion-datetime>
			</ion-item>

		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-title>{{'SWIMMINGPOOL.OtherDevices' | translate}}</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-item lines="none">
				<ion-label>{{'ADDSWIMMINGPOOL.PH' | translate}}</ion-label>
				<ion-toggle slot="start" name="PH"  [(ngModel)]="swimmingPool.PH"></ion-toggle>
			</ion-item>
			<div class="paddingToggle" *ngIf="swimmingPool.PH ===true">
				<ion-item> 
					<ion-label>{{'ADDSWIMMINGPOOL.PHDate' | translate}}</ion-label>
					<ion-datetime display-format="D MMM YYYY" picker-format="D MMM YYYY" name="PHDate" [(ngModel)]="swimmingPool.PHDate"></ion-datetime>
				</ion-item>
			</div>
			<ion-item lines="none">
				<ion-label>{{'ADDSWIMMINGPOOL.Pomp' | translate}}</ion-label>
				<ion-toggle slot="start" name="PHpomp"  [(ngModel)]="swimmingPool.pomp"></ion-toggle>
			</ion-item>
			<div class="paddingToggle" *ngIf="swimmingPool.pomp ===true"  lines="none">
				<ion-item >
					<ion-label>{{'ADDSWIMMINGPOOL.PompDate' | translate}}</ion-label>
					<ion-datetime display-format="D MMM YYYY" picker-format="D MMM YYYY" name="pompDate" [(ngModel)]="swimmingPool.pompDate"></ion-datetime>
				</ion-item>
			</div>
			<ion-item lines="none">
				<ion-label>{{'ADDSWIMMINGPOOL.AutomaticFill' | translate}}</ion-label>
				<ion-toggle slot="start" name="automaticFill"  [(ngModel)]="swimmingPool.automaticFill"></ion-toggle>
			</ion-item>
			<div class="paddingToggle" *ngIf="swimmingPool.automaticFill ===true"  lines="none">
				<ion-item >
					<ion-label>{{'ADDSWIMMINGPOOL.AutomaticFillDate' | translate}}</ion-label>
					<ion-datetime display-format="D MMM YYYY" picker-format="D MMM YYYY" name="automaticFillDate" [(ngModel)]="swimmingPool.automaticFillDate"></ion-datetime>
				</ion-item>
			</div>
		</ion-card-content>
	</ion-card>
	<ion-item>
		<ion-label  position="stacked">{{'ADDSWIMMINGPOOL.Observation' | translate}}</ion-label>
		<ion-textarea  name="observation" type="text"  [(ngModel)]="swimmingPool.observation"></ion-textarea>
	</ion-item>


</ion-content>
