<ion-content>
	
	<ion-list>
		<ion-item *ngFor="let visit of visits | async" [routerLink]="['/piscinistPortal/visits/' + visit.visitKey]">
			<ion-avatar slot="start" class="avatarListVisits" [ngClass]="{'full': visit.typeOfVisit ==='full' , 
			'technical': visit.typeOfVisit ==='technical' , 'maintenance': visit.typeOfVisit ==='maintenance' }">
			<ion-icon name="shield-checkmark"></ion-icon>
			<div *ngIf="visit.maintenance" class="typeOfVisitWrapper">
				<span *ngIf="visit.typeOfVisit ==='full'">{{'VISIT.VisitTypeFull' | translate}}</span>
				<span *ngIf="visit.typeOfVisit ==='technical'">{{'VISIT.VisitTypeTechnical' | translate}}</span>
				<span *ngIf="visit.typeOfVisit ==='maintenance'">{{'VISIT.VisitTypeMaintenance' | translate}}</span>
			</div>
		</ion-avatar>
		<ion-label>
			<h3 *ngIf="visit.dateTime"><b>{{ visit.dateTime | date:'medium' }}</b></h3>

			<p *ngIf="visit.employee.data">{{'VISIT.VisitPerformedBY' | translate}} {{visit.employee.data.firstName }} {{visit.employee.data.lastName}}</p>
			<p *ngIf="visit.employee.data === null">{{'VISIT.VisitPerformedBY' | translate}} {{'COMMON.UnknownEmployee' | translate}}</p>

		</ion-label>
		<ion-note >
			<div class="KPITitle ion-text-right">
				{{'VISIT.AnalyseChlore'| translate}}
			</div>
			<div class="KPIValue ">
				{{visit.technique.chlore}}
			</div>
		</ion-note >
		<ion-note class="ion-margin-start">
			<div class="KPITitle ion-text-right">
				{{'VISIT.AnalysePH'| translate}}
			</div>
			<div class="KPIValue ">
				{{visit.technique.PH}}
			</div>
		</ion-note>
		<ion-note class="ion-hide-sm-down ion-margin-start">
			<div class="KPITitle ion-text-right">
				{{'VISIT.AnalyseSalt'| translate}}    
			</div>
			<div class="KPIValue ">
				{{visit.technique.sel}}
			</div>
		</ion-note>
		<ion-note class="ion-hide-sm-down  ion-margin-start">
			<div class="KPITitle ion-text-right">
				{{'VISIT.AnalyseTAC'| translate}}    
			</div>
			<div class="KPIValue ">
				{{visit.technique.TAC}}
			</div>
		</ion-note>
		<ion-note class="ion-hide-sm-down ion-margin-start">
			<div class="KPITitle ion-text-right">
				{{'VISIT.AnalyseStabiliserShort'| translate}}
			</div>
			<div class="KPIValue ">
				{{visit.technique.stabilisant}}
			</div>
		</ion-note>
	</ion-item>
</ion-list>

</ion-content>