<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-avatar slot="start" class="avatarListVisits"  [ngClass]="{'full': visit.maintenance.typeOfVisit ==='full' , 
		'controle': visit.maintenance.typeOfVisit ==='controle' , 'maintenance': visit.maintenance.typeOfVisit ==='maintenance' }">
		<ion-icon name="shield-checkmark"></ion-icon>
		<span *ngIf="visit.maintenance">
			<span *ngIf="visit.maintenance.typeOfVisit ==='full'">{{'VISIT.VisitTypeFull' | translate}}</span>
			<span *ngIf="visit.maintenance.typeOfVisit ==='controle'">{{'VISIT.VisitTypeControl' | translate}}</span>
			<span *ngIf="visit.maintenance.typeOfVisit ==='maintenance'">{{'VISIT.VisitTypeMaintenance' | translate}}</span>
		</span>
	</ion-avatar>
	<ion-title>
		{{'VISIT.Title' | translate}} {{'VISIT.TitleOn' | translate}} {{ visit.dateTime | date:'d MMM y' }}
		<div>
			<ion-text color="primary"><h6 class="subTitle">{{'VISIT.TitleFor'  | translate}} {{customer.firstName}} {{customer.lastName}} {{'VISIT.DoneBy' | translate}} {{employee.firstName}} {{employee.lastName}}</h6></ion-text>
		</div>
	</ion-title>


</ion-toolbar>
</ion-header>

<ion-content>
	<ion-tabs>
		<ion-tab-bar slot="top">
			<ion-tab-button tab="maintenance" selected>
				<ion-icon name="construct"></ion-icon>
				<ion-label>{{'VISIT.MainteanceTitle' | translate}} </ion-label>
			</ion-tab-button>

			<ion-tab-button tab="technical">
				<ion-icon name="options"></ion-icon>
				<ion-label>{{'VISIT.TechnicalTitle' | translate}} </ion-label>
			</ion-tab-button>
			<ion-tab-button tab="observation">
				<ion-icon name="eye"></ion-icon>
				<ion-label>{{'VISIT.ObservationsTitle' | translate}} </ion-label>

			</ion-tab-button>

		</ion-tab-bar>
	</ion-tabs>
</ion-content>
