<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="visits"></ion-back-button>
		</ion-buttons>
		<ion-avatar slot="start" class="avatarListVisits"  [ngClass]="{'full': visit.typeOfVisit ==='full' , 
		'technical': visit.typeOfVisit ==='technical' , 'maintenance': visit.typeOfVisit ==='maintenance' }">
		<ion-icon name="shield-checkmark"></ion-icon>
		<span *ngIf="visit.maintenance">
			<span *ngIf="visit.typeOfVisit ==='full'">{{'VISIT.VisitTypeFull' | translate}}</span>
			<span *ngIf="visit.typeOfVisit ==='technical'">{{'VISIT.VisitTypeTechnical' | translate}}</span>
			<span *ngIf="visit.typeOfVisit ==='maintenance'">{{'VISIT.VisitTypeMaintenance' | translate}}</span>
		</span>
		
	</ion-avatar>
	<ion-title>
	{{ visit.dateTime | date:'d MMM y' }}
	</ion-title>
	<ion-buttons slot="end" >
		<ion-button [routerLink]="['/edit-visit' ,{ visitID:visitId, mode: 'update',customer: customerStringified,swimmingPoolName:swimmingPoolName}]" *ngIf="editEligibility === true && mode !== 'offline'">
			<ion-icon name="pencil" ></ion-icon>
		</ion-button>
		<ion-button (click)="uploadVisit()" *ngIf="(claims['admin']===true || claims['employee'] ===true) && mode !=='online'">
			<ion-icon name="cloud-upload" ></ion-icon>
		</ion-button>
	</ion-buttons>

</ion-toolbar>
</ion-header>

<ion-content>


	<ion-tabs>
		<ion-tab-bar slot="top">
			<ion-tab-button tab="general" selected>
				<ion-icon name="information"></ion-icon>
				<ion-label>{{'VISIT.GeneralTitle' | translate}} </ion-label>
			</ion-tab-button>
			<ion-tab-button tab="maintenance" selected>
				<ion-icon name="construct"></ion-icon>
				<ion-label>{{'VISIT.MainteanceTitle' | translate}} </ion-label>
			</ion-tab-button>

			<ion-tab-button tab="technical">
				<ion-icon name="options"></ion-icon>
				<ion-label>{{'VISIT.TechnicalTitle' | translate}} </ion-label>
			</ion-tab-button>
			<ion-tab-button tab="observation">
				<ion-icon name="eye"></ion-icon>
				<ion-label>{{'VISIT.ObservationsTitle' | translate}} </ion-label>

			</ion-tab-button>

		</ion-tab-bar>
	</ion-tabs>
</ion-content>

