<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title *ngIf="mode !=='single'">
			<ion-item lines="none">
				<ion-select  [(ngModel)]="selectedSwimmingPoolKey" (ionChange)="onSelectPoolChange($event)" [selectedText]="selectedSwimmingPoolName">
					<ion-select-option *ngFor="let swimmingPool of swimmingPools | async" value="{{swimmingPool.key}}" >{{swimmingPool.data.name}} </ion-select-option>
				</ion-select>
			</ion-item>

		</ion-title>
		<ion-title *ngIf="mode ==='single'">
			{{'MYPOOLS.Title' | translate}} {{selectedSwimmingPool.data.name }}
		</ion-title>


	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-tabs>
		<ion-tab-bar slot="top">
			<ion-tab-button tab="information" selected >
				<ion-icon name="information-circle"></ion-icon>
				<ion-label>{{'SWIMMINGPOOL.Information' | translate}} </ion-label>
			</ion-tab-button>

			<ion-tab-button tab="visits"> 
				<ion-icon name="shield-checkmark"></ion-icon>
				<ion-label>{{'SWIMMINGPOOL.Visits' | translate}} </ion-label>
				<ion-badge color="primary">{{selectedSwimmingPool.data.numberOfVisits}}</ion-badge>
			</ion-tab-button>
			<ion-tab-button tab="statistics"> 
				<ion-icon name="bar-chart"></ion-icon>
				<ion-label>{{'SWIMMINGPOOL.Statistics' | translate}} </ion-label>
			</ion-tab-button>
		</ion-tab-bar>
	</ion-tabs>

</ion-content>
