<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>{{'EMPLOYEES.Title' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-fab vertical="top" horizontal="end" slot="fixed"  [routerLink]="['/edit-employee',{ mode: 'add'}]">
	<ion-fab-button *ngIf="claims['admin']">
		<ion-icon name="add"></ion-icon>
	</ion-fab-button>
</ion-fab>
<ion-content>
	<ion-list>
		<ion-item *ngFor="let employee of employees | async" [routerLink]="['/employees/' + employee.key]">
			<ion-avatar slot="start" class="avatar">
				<ngx-avatar name="{{ employee.data.firstName }} {{ employee.data.lastName}}"></ngx-avatar>
			</ion-avatar>
			<ion-label>
				<h2>{{ employee.data.firstName }} {{ employee.data.lastName}}</h2>
				<h3><a href="tel:{{ employee.data.telPhoneNumber}}">{{ employee.data.telPhoneNumber}}</a></h3>
				 <ion-badge color="primary" *ngIf="employee.data.admin ===true" slot="end">Admin</ion-badge>
			</ion-label>

		</ion-item>
	</ion-list>

</ion-content>

