<ion-content>

	<ion-list>
		<ion-list-header>
			<h2>{{'VISIT.Cleaning' | translate}}</h2>
		</ion-list-header>
		<div >
			
			<ion-item>
				<ion-label>{{'VISIT.CleaningSkimmer' | translate}}</ion-label>
				<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.cleaningSkimmer === true"  ></ion-icon>
				<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.cleaningSkimmer === false"  ></ion-icon>
			</ion-item>
			<ion-item>
				<ion-label>{{'VISIT.EmptySkimmer' | translate}}</ion-label>
				<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.emptySkimmer === true"  ></ion-icon>
				<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.emptySkimmer === false"  ></ion-icon>
			</ion-item>
			<ion-item  *ngIf="swimmingPool.robot ===true">
				<ion-label>{{'VISIT.EmptyPoolRobotBag' | translate}}</ion-label>
				<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.emptyPoolRobotBag === true"  ></ion-icon>
				<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.emptyPoolRobotBag ===false"  ></ion-icon>
			</ion-item>
			<ion-item>
				<ion-label>{{'VISIT.CleaningWaterLine' | translate}}</ion-label>
				<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.cleaningWaterLine === true"  ></ion-icon>
				<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.cleaningWaterLine ===false"  ></ion-icon>
			</ion-item>
			<ion-item>
				<ion-label>{{'VISIT.Vacuum' | translate}}</ion-label>
				<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.vacuum === true"  ></ion-icon>
				<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.vacuum ===false"  ></ion-icon>
			</ion-item>
			<ion-item>
				<ion-label>{{'VISIT.PassageLandingSurface' | translate}}</ion-label>
				<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.passageLandingSurface === true"  ></ion-icon>
				<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.passageLandingSurface ===false"  ></ion-icon>
			</ion-item>
			<ion-item>
				<ion-label>{{'VISIT.PassageLandingDepth' | translate}}</ion-label>
				<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.passageLandingDepth === true"  ></ion-icon>
				<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.passageLandingDepth ===false"  ></ion-icon>
			</ion-item>
			<ion-item *ngIf="swimmingPool.curtain ===true">
				<ion-label>{{'VISIT.CleaningCurtain' | translate}}</ion-label>
				<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.curtain === true"  ></ion-icon>
				<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.curtain ===false"  ></ion-icon>
			</ion-item>
			<ion-item  *ngIf="swimmingPool.curtain ===true">
				<ion-label>{{'VISIT.CurtainVacuumCleaner' | translate}}</ion-label>
				<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.curtainVacuumCleaner === true"  ></ion-icon>
				<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.curtainVacuumCleaner ===false"  ></ion-icon>
			</ion-item>
			<ion-item>
				<ion-label>{{'VISIT.Brossage' | translate}}</ion-label>
				<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.brossage === true"  ></ion-icon>
				<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.brossage ===false"  ></ion-icon>
			</ion-item>
		</div>
	</ion-list>
	<ion-list  *ngIf="swimmingPool.alarmElectronicSystem ===true">
		<ion-list-header>
			<h2>{{'VISIT.AlarmSystemTitle' | translate}}</h2>
		</ion-list-header>
		<ion-item >
			<ion-label>{{'VISIT.CleaningAlarm' | translate}}</ion-label>
			<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.cleaningAlarm === true"  ></ion-icon>
			<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.cleaningAlarm ===false"  ></ion-icon>
		</ion-item>
		<ion-item >
			<ion-label>{{'VISIT.ProperAlarm' | translate}}</ion-label>
			<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.properAlarm === true"  ></ion-icon>
			<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.properAlarm ===false"  ></ion-icon>
		</ion-item>

	</ion-list>
	<ion-list *ngIf="swimmingPool.automaticFill ===true">
		<ion-list-header>
			<h2>{{'VISIT.AutomaticFill' | translate}}</h2>
		</ion-list-header>
		<ion-item >
			<ion-label>{{'VISIT.GoodFloat' | translate}}</ion-label>
			<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.goodFloat === true"  ></ion-icon>
			<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.goodFloat ===false"  ></ion-icon>
		</ion-item>
		<ion-item >
			<ion-label>{{'VISIT.FloatNotBlocked' | translate}}</ion-label>
			<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.floatNotBlocked === true"  ></ion-icon>
			<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.floatNotBlocked ===false"  ></ion-icon>
		</ion-item>
	</ion-list>
	<ion-list>
		<ion-list-header>
			<h2>{{'VISIT.TechnicalLocal' | translate}}</h2>
		</ion-list-header>
		<ion-item >
			<ion-label>{{'VISIT.TLFilterWashing' | translate}}</ion-label>
			<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.TLFilterWashing === true"  ></ion-icon>
			<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.TLFilterWashing ===false"  ></ion-icon>
		</ion-item>
		<ion-item >
			<ion-label>{{'VISIT.TLCleaningPreFilter' | translate}}</ion-label>
			<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.TLCleaningPreFilter === true"  ></ion-icon>
			<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.TLCleaningPreFilter ===false"  ></ion-icon>
		</ion-item>

		<ion-item lines="none">
			<ion-label  class="ion-padding-bottom" >
				<ion-text>{{'VISIT.SandfilterPressure' | translate}}</ion-text>
				<ion-text *ngIf="visit.maintenance.sandfilterPressure ===''" class="unknown ion-margin-start" >{{'COMMON.Unknown' | translate}}</ion-text>
				<div  *ngIf="visit.maintenance.sandfilterPressure !==''">
					<ion-grid class="analyses">
						<ion-row>
							<ion-col class="cell" *ngFor="let step of sandfilterPressureSteps"  [ngClass]="{'selected': visit.maintenance.sandfilterPressure === step.value }" style="background-color:{{step.backgroundColor}}" >
								<ion-text>{{step.value}}</ion-text>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
			</ion-label>
			
		</ion-item>
		<ion-item >
			<ion-label>{{'VISIT.TLClockSetting' | translate}}</ion-label>
			<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.TLClockSetting === true"  ></ion-icon>
			<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.TLClockSetting ===false"  ></ion-icon>
		</ion-item>
		<ion-item >
			<ion-text >{{'VISIT.FilteringModeTitle' | translate}}</ion-text>
			<ion-text *ngIf="visit.maintenance.TLFiltrationMode ===''" class="unknown ion-margin-start">{{'COMMON.Unknown' | translate}}</ion-text>
			<ion-text *ngIf="visit.maintenance.TLFiltrationMode ==='automatic'" class="ion-margin-start">{{'VISIT.FilteringModeTitleAutomatic' | translate}}</ion-text>
			<ion-text *ngIf="visit.maintenance.TLFiltrationMode ==='manual'" class="ion-margin-start">{{'VISIT.FilteringModeTitleManual' | translate}}</ion-text>
		</ion-item>
		<ion-item *ngIf="swimmingPool.robot ===true">
			<ion-text >{{'VISIT.TLRobotMode' | translate}}</ion-text>
			<ion-text *ngIf="visit.maintenance.TLRobotMode ===''" class="unknown ion-margin-start">{{'COMMON.Unknown' | translate}}</ion-text>
			<ion-text *ngIf="visit.maintenance.TLRobotMode ==='automatic'" class="ion-margin-start">{{'VISIT.TLRobotModeAutomatic' | translate}}</ion-text>
			<ion-text *ngIf="visit.maintenance.TLRobotMode ==='manual'" class="ion-margin-start">{{'VISIT.TLRobotModeManual' | translate}}</ion-text>
		</ion-item>
		<ion-item >
			<ion-text >{{'VISIT.TLProjectorMode' | translate}}</ion-text>
			<ion-text *ngIf="visit.maintenance.TLProjectorMode ===''" class="unknown ion-margin-start">{{'COMMON.Unknown' | translate}}</ion-text>
			<ion-text *ngIf="visit.maintenance.TLProjectorMode ==='automatic'" class="ion-margin-start">{{'VISIT.TLProjectorModeAutomatic' | translate}}</ion-text>
			<ion-text *ngIf="visit.maintenance.TLProjectorMode ==='manual'" class="ion-margin-start">{{'VISIT.TLProjectorModeManual' | translate}}</ion-text>
		</ion-item>
		<ion-item >
			<ion-label>{{'VISIT.TLCleaningRoom' | translate}}</ion-label>
			<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.TLCleaningRoom === true"  ></ion-icon>
			<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.TLCleaningRoom ===false"  ></ion-icon>
		</ion-item>
		<ion-item >
			<ion-text position="stacked">{{'VISIT.TLChloreLVL' | translate}}</ion-text>
			<ion-text *ngIf="visit.maintenance.TLChloreLVL !==''" class="ion-margin-start">{{visit.maintenance.TLChloreLVL}}</ion-text>
			<ion-text *ngIf="visit.maintenance.TLChloreLVL ===''" class="unknown">{{'COMMON.Unknown' | translate}}</ion-text>
		</ion-item>
		<ion-item >
			<ion-text position="stacked">{{'VISIT.TLPHLVL' | translate}}</ion-text>
			<ion-text *ngIf="visit.maintenance.TLPHLVL !==''" class="ion-margin-start">{{visit.maintenance.TLPHLVL}}</ion-text>
			<ion-text *ngIf="visit.maintenance.TLPHLVL ===''" class="unknown ion-margin-start">{{'COMMON.Unknown' | translate}}</ion-text>
		</ion-item>
		<ion-item >
			<ion-text>{{'VISIT.TLWaterMeter' | translate}}</ion-text>
			<ion-text *ngIf="visit.maintenance.TLWaterMeter !==''" class="ion-margin-start">{{visit.maintenance.TLWaterMeter}}</ion-text>
			<ion-text *ngIf="visit.maintenance.TLWaterMeter ===''" class="unknown ion-margin-start">{{'COMMON.Unknown' | translate}}</ion-text>
		</ion-item>
	</ion-list>
	<ion-list>
		<ion-list-header>
			<h2>{{'VISIT.ElectronicDevicesTitle' | translate}}</h2>
		</ion-list-header>
		<div *ngIf="swimmingPool.electronicalProduct === 'salt'">
			<h3  class="ion-margin-start">{{'VISIT.SaltDeviceTitle' | translate}}</h3>
			<ion-item>
				<ion-label *ngIf="visit.maintenance.PFEDSaltCell === false" >{{'VISIT.PFEDSaltCellNoIssue' | translate}}</ion-label>
				<ion-label *ngIf="visit.maintenance.PFEDSaltCell === true">{{'VISIT.PFEDSaltCellIssue' | translate}}</ion-label>
				<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.PFEDSaltCell === false"  ></ion-icon>
				<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.PFEDSaltCell ===true"  ></ion-icon>
			</ion-item>
			<ion-item>
				<ion-label>{{'VISIT.PFEDSaltDescalingCell' | translate}}</ion-label>
				<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.PFEDSaltDescalingCell === true"  ></ion-icon>
				<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.PFEDSaltDescalingCell ===false"  ></ion-icon>
			</ion-item>
			<ion-item *ngIf="visit.maintenance.PFEDSaltOtherProb!== ''">
				<ion-text >{{visit.maintenance.PFEDSaltOtherProb}}</ion-text>
			</ion-item>
		</div>
		<div >
			<h3  class="ion-margin-start">{{'VISIT.ChloreTitle' | translate}}</h3>
			<ion-item>
				<ion-label *ngIf="visit.maintenance.PFEDChloraFaulty === false" >{{'VISIT.PFEDChloraNoFaulty' | translate}}</ion-label>
				<ion-label *ngIf="visit.maintenance.PFEDChloraFaulty === true">{{'VISIT.PFEDChloraFaulty' | translate}}</ion-label>
				<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.PFEDChloraFaulty === false"  ></ion-icon>
				<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.PFEDChloraFaulty ===true"  ></ion-icon>
			</ion-item>
		</div>
		<div >
			<h3  class="ion-margin-start">{{'VISIT.PHTitle' | translate}}</h3>
			<ion-item>
				<ion-label *ngIf="visit.maintenance.PFEDPHFaulty === false" >{{'VISIT.PFEDPHNoFaulty' | translate}}</ion-label>
				<ion-label *ngIf="visit.maintenance.PFEDPHFaulty === true">{{'VISIT.PFEDPHFaulty' | translate}}</ion-label>
				<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.PFEDPHFaulty === false"  ></ion-icon>
				<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.PFEDPHFaulty ===true"  ></ion-icon>
			</ion-item>
		</div>
		<div *ngIf="swimmingPool.electronicalProduct === 'UVSterilisation'"> 
			<h3  class="ion-margin-start">{{'VISIT.UVTitle' | translate}}</h3>
			<ion-item>
				<ion-label *ngIf="visit.maintenance.PFEDUVCell === false" >{{'VISIT.PFEDUVCellNoIssue' | translate}}</ion-label>
				<ion-label *ngIf="visit.maintenance.PFEDUVCell === true">{{'VISIT.PFEDUVCell' | translate}}</ion-label>
				<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.maintenance.PFEDUVCell === false"  ></ion-icon>
				<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.maintenance.PFEDUVCell ===true"  ></ion-icon>
			</ion-item>
			<ion-item *ngIf="visit.maintenance.PFEDUVOtherProb!== ''">
				<ion-text >{{visit.maintenance.PFEDUVOtherProb}}</ion-text>
			</ion-item>
		</div>
	</ion-list>
</ion-content>