<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title *ngIf="mode === 'add'">{{'ADDEMPLOYEE.TitleAdd' | translate}}</ion-title>
		<ion-title *ngIf="mode === 'update'">{{'ADDEMPLOYEE.TitleUpdate' | translate}} {{employee.firstName}} {{employee.lastName}}</ion-title>
		<ion-buttons slot="end">
			<ion-button color="primary" fill="outline" (click)="submitForm()" >
				<ion-icon name="save"></ion-icon>
				<span *ngIf="mode === 'update'" class="spanButton">{{'ADDEMPLOYEE.UpdateEmployee' | translate}}</span>
				<span *ngIf="mode === 'add'"  class="spanButton">{{'ADDEMPLOYEE.AddEmployee' | translate}}</span>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
		<ion-label position="stacked">{{'ADDEMPLOYEE.FirstName' | translate}} <ion-text color="danger">*</ion-text></ion-label>
		<ion-input  name="firstName" type="text" [(ngModel)]="employee.firstName"  required></ion-input>
	</ion-item>
	<ion-item>
		<ion-label position="stacked">{{'ADDEMPLOYEE.LastName' | translate}} <ion-text color="danger">*</ion-text></ion-label>
		<ion-input  name="lastName" type="text" [(ngModel)]="employee.lastName"  required></ion-input>
	</ion-item>
	<ion-item>
		<ion-label position="stacked">{{'ADDEMPLOYEE.TelPhoneNumber' | translate}} <ion-text color="danger">*</ion-text></ion-label>
		<ion-input  name="telPhoneNumber" type="tel" [(ngModel)]="employee.telPhoneNumber"  required></ion-input>
	</ion-item>
	<ion-item>
		<ion-label position="stacked">{{'ADDEMPLOYEE.Email' | translate}} <ion-text color="danger">*</ion-text></ion-label>
		<ion-input  name="email" type="email" [(ngModel)]="employee.email"  required></ion-input>
	</ion-item>
	<ion-item>
		<ion-label position="stacked">{{'EMPLOYEE.Address' | translate}} <ion-text color="danger">*</ion-text></ion-label>
		<ion-input [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place" required></ion-input>
		<ion-list [hidden]="autocompleteItems.length == 0">
			<ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
				{{ item.description }}
			</ion-item>
		</ion-list>
	</ion-item>
</ion-content>
