<ion-content>
	<h2 class="ion-margin-start">{{'VISIT.AUTOMATICFILL.Title' | translate}}</h2>
	<ion-list>
		<ion-item>
			<ion-label *ngIf="visit.observation.automaticFill.notBlocked === true" >{{'VISIT.AUTOMATICFILL.BlockedStatus.NotBlocked' | translate}}</ion-label>
			<ion-label *ngIf="visit.observation.automaticFill.notBlocked === false" >{{'VISIT.AUTOMATICFILL.BlockedStatus.Blocked' | translate}}</ion-label>
			<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.observation.automaticFill.notBlocked === true"  ></ion-icon>
			<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.observation.automaticFill.notBlocked ===false"  ></ion-icon>
		</ion-item>
		<ion-item >
			<ion-label *ngIf="visit.observation.automaticFill.set === true" >{{'VISIT.AUTOMATICFILL.SetStatus.Set' | translate}}</ion-label>
			<ion-label *ngIf="visit.observation.automaticFill.set === false" >{{'VISIT.AUTOMATICFILL.SetStatus.NotSet' | translate}}</ion-label>
			<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.observation.automaticFill.set === true"  ></ion-icon>
			<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.observation.automaticFill.set ===false"  ></ion-icon>
		</ion-item>
		<ion-item >
			<ion-label *ngIf="visit.observation.automaticFill.closedValves === true" >{{'VISIT.AUTOMATICFILL.ClosedValvesStatus.ClosedValves' | translate}}</ion-label>
			<ion-label *ngIf="visit.observation.automaticFill.closedValves === false" >{{'VISIT.AUTOMATICFILL.ClosedValvesStatus.NotClosedValves' | translate}}</ion-label>
			<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.observation.automaticFill.closedValves === true"  ></ion-icon>
			<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.observation.automaticFill.closedValves ===false"  ></ion-icon>
		</ion-item>
		<ion-item >
			<ion-label *ngIf="visit.observation.automaticFill.closedValves === true" >{{'VISIT.AUTOMATICFILL.ClosedValvesStatus.ClosedValves' | translate}}</ion-label>
			<ion-label *ngIf="visit.observation.automaticFill.closedValves === false" >{{'VISIT.AUTOMATICFILL.ClosedValvesStatus.NotClosedValves' | translate}}</ion-label>
			<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.observation.automaticFill.closedValves === true"  ></ion-icon>
			<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.observation.automaticFill.closedValves ===false"  ></ion-icon>
		</ion-item>
	</ion-list>
	<h2 class="ion-margin-start">{{'VISIT.OBSERVATIONS.OtherObservationTitle' | translate}}</h2>

	<ion-list>
		<ion-item>
			<ion-label *ngIf="visit.observation.waterBadClarity === true" >{{'VISIT.OBSERVATIONS.WaterClarityStatus.KO' | translate}}</ion-label>
			<ion-label *ngIf="visit.observation.waterBadClarity === false" >{{'VISIT.OBSERVATIONS.WaterClarityStatus.OK' | translate}}</ion-label>
			<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.observation.waterBadClarity ===true"  ></ion-icon>
			<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.observation.waterBadClarity === false"  ></ion-icon>
		</ion-item>
		<ion-item>
			<ion-label *ngIf="visit.observation.algeaOnWall === true" >{{'VISIT.OBSERVATIONS.AlgeaOnWallStatus.KO' | translate}}</ion-label>
			<ion-label *ngIf="visit.observation.algeaOnWall === false" >{{'VISIT.OBSERVATIONS.AlgeaOnWallStatus.OK' | translate}}</ion-label>
			<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.observation.algeaOnWall === true"  ></ion-icon>
			<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.observation.algeaOnWall ===false"  ></ion-icon>
		</ion-item>
		<ion-item>
			<ion-label *ngIf="visit.observation.blockerForSkimmer === true" >{{'VISIT.OBSERVATIONS.BlockerForSkimmerStatus.KO' | translate}}</ion-label>
			<ion-label *ngIf="visit.observation.blockerForSkimmer === false" >{{'VISIT.OBSERVATIONS.BlockerForSkimmerStatus.OK' | translate}}</ion-label>
			<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.observation.blockerForSkimmer === true"  ></ion-icon>
			<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.observation.blockerForSkimmer ===false"  ></ion-icon>
		</ion-item>
		<ion-item>
			<ion-label *ngIf="visit.observation.blockedShutterSkimmer === true" >{{'VISIT.OBSERVATIONS.BlockedShutterSkimmerStatus.KO' | translate}}</ion-label>
			<ion-label *ngIf="visit.observation.blockedShutterSkimmer === false" >{{'VISIT.OBSERVATIONS.BlockedShutterSkimmerStatus.OK' | translate}}</ion-label>
			<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.observation.blockedShutterSkimmer === true"  ></ion-icon>
			<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.observation.blockedShutterSkimmer ===false"  ></ion-icon>
		</ion-item>
		<ion-item>
			<ion-label *ngIf="visit.observation.badStateBottomDrain === true" >{{'VISIT.OBSERVATIONS.BadStateBottomDrainStatus.KO' | translate}}</ion-label>
			<ion-label *ngIf="visit.observation.badStateBottomDrain === false" >{{'VISIT.OBSERVATIONS.BadStateBottomDrainStatus.OK' | translate}}</ion-label>
			<ion-icon name="close" class="statusKO" slot="start" *ngIf="visit.observation.badStateBottomDrain === true"  ></ion-icon>
			<ion-icon name="checkmark" class="statusOK" slot="start" *ngIf="visit.observation.badStateBottomDrain ===false"  ></ion-icon>
		</ion-item>
	</ion-list>
	<ion-item *ngIf="visit.observation.otherObservation !== undefined" lines="none">
		<ion-text >{{'VISIT.OBSERVATIONS.OtherObservation' | translate}}</ion-text>
		<ion-text>{{visit.observation.otherObservation}}</ion-text>
	</ion-item>
</ion-content>
