<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="customers/{{uid}}"></ion-back-button>
		</ion-buttons>
		<ion-title>{{'SWIMMINGPOOL.Title' | translate}} {{swimmingPool.name}}
			<div>
				<ion-text color="primary"><h6 class="subTitle"> {{customer.firstName}} {{customer.lastName}}</h6></ion-text>
			</div>
		</ion-title>

		<ion-buttons slot="end">
			<ion-button [routerLink]="['/customers/'+uid+'/swimming-pool/' +poolId+ '/edit-swimming-pool',{ mode: 'update', customer:customerStringified}]">
				<ion-icon name="pencil" ></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	
	<ion-tabs >
		<ion-tab-bar slot="top" class="marginForFabButton">
			<ion-tab-button tab="information" selected >
				<ion-icon name="information-circle"></ion-icon>
				<ion-label>{{'SWIMMINGPOOL.Information' | translate}} </ion-label>
			</ion-tab-button>

			<ion-tab-button tab="visits"> 
				<ion-icon name="shield-checkmark"></ion-icon>
				<ion-label>{{'SWIMMINGPOOL.Visits' | translate}} </ion-label>
				<ion-badge color="primary">{{swimmingPool.numberOfVisits}}</ion-badge>
			</ion-tab-button>
			<ion-tab-button tab="statistics"> 
				<ion-icon name="bar-chart"></ion-icon>
				<ion-label>{{'SWIMMINGPOOL.Statistics' | translate}} </ion-label>
			</ion-tab-button>
		</ion-tab-bar>
	</ion-tabs>
	<div class="ion-hide">
		<ion-fab  vertical="top" horizontal="end" slot="fixed" >
			<ion-fab-button>
				<ion-icon name="add"  size="large"></ion-icon>
			</ion-fab-button>
			<ion-fab-list>
				<ion-fab-button color="primary" class="full" [attr.data-desc]="visitTypeText.visitTypeFull"  [routerLink]="['/customers/'+uid+'/swimming-pool/' +poolId+'/add-visit',{ mode: 'add', customer: customerStringified,swimmingPoolStringified:swimmingPoolStringified,visitType:'full' }]">
					<ion-icon name="shield-checkmark" fill="solid"></ion-icon>
				</ion-fab-button>
				<ion-fab-button color="success" class="maintenance"  [attr.data-desc]="visitTypeText.visitTypeMaintenance" [routerLink]="['/customers/'+uid+'/swimming-pool/' +poolId+'/add-visit',{ mode: 'add', customer: customerStringified,swimmingPoolStringified:swimmingPoolStringified,visitType:'maintenance' }]">
					<ion-icon name="shield-checkmark" ></ion-icon>
				</ion-fab-button>
			</ion-fab-list>
		</ion-fab>
	</div>
	<ion-fab vertical="top" horizontal="end" slot="fixed">
		<ion-fab-button (click)="presentActionSheet()">
			<ion-icon name="add"  size="large"></ion-icon>
		</ion-fab-button>
	</ion-fab>

</ion-content>