<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>account</ion-title>
		<ion-buttons slot="end">
			<ion-button [routerLink]="['edit-account',{ mode: 'update'}]">
				<ion-icon name="pencil" ></ion-icon>
			</ion-button>
			<ion-button (click)="selectDefaultAccount()">
					<ion-icon name="star-outline" ></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-list-header>General Configuration</ion-list-header>
		<ion-item>
			<ion-label position="stacked">Url for landing page</ion-label>
			<ion-input readonly>{{account.configuration.logoPictureUrl}}</ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Url for notification</ion-label>
			<ion-input readonly>{{account.configuration.logoPictureForNotifUrl}}</ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Name for landing page</ion-label>
			<ion-input readonly>{{account.configuration.nameLoginPage}}</ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Plan (free or premium)</ion-label>
			<ion-input readonly type="text">{{account.plan}}</ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">Number of swimming pools</ion-label>
			<ion-input readonly>{{account.numberOfSwimmingPools}}</ion-input>
		</ion-item>
	</ion-list>
	<ion-list>
		<ion-list-header>Email Configuration</ion-list-header>
		<ion-item>
			<ion-label position="stacked" >Envoyer un email apres chaque visite</ion-label>
			<ion-toggle slot="start" disabled="true" name="sendEmailAfterVisit" [(ngModel)]="account.configuration.emailConfiguration.sendEmailAfterVisit" ></ion-toggle>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">from Email</ion-label>
			<ion-input readonly>{{account.configuration.emailConfiguration.serverEmail.from.email}}</ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">from Name</ion-label>
			<ion-input readonly>{{account.configuration.emailConfiguration.serverEmail.from.name}}</ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">reply_to Email</ion-label>
			<ion-input readonly>{{account.configuration.emailConfiguration.serverEmail.reply_to.email}}</ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">reply_to Name</ion-label>
			<ion-input readonly>{{account.configuration.emailConfiguration.serverEmail.reply_to.name}}</ion-input>
		</ion-item>
		<ion-item >
			<ion-label position="stacked">Password Email </ion-label>
			<ion-input readonly>{{account.configuration.emailConfiguration.serverEmail.emailServerPassword}}</ion-input>
		</ion-item>
		<ion-item >
			<ion-label position="stacked">visitKO template : </ion-label>
			<ion-input readonly>{{account.configuration.emailConfiguration.emailTemplates.visitKO}}</ion-input>
		</ion-item>
		<ion-item >
			<ion-label position="stacked">visitOK template : </ion-label>
			<ion-input readonly>{{account.configuration.emailConfiguration.emailTemplates.visitOK}}</ion-input>
		</ion-item>
		<ion-item >
			<ion-label position="stacked">welcomeCustomer template : </ion-label>
			<ion-input readonly>{{account.configuration.emailConfiguration.emailTemplates.welcomeCustomer}}</ion-input>
		</ion-item>
		<ion-item >
			<ion-label position="stacked">welcomeEmployee template : </ion-label>
			<ion-input readonly>{{account.configuration.emailConfiguration.emailTemplates.welcomeEmployee}}</ion-input>
		</ion-item>
		<ion-item >
			<ion-label position="stacked">welcomeEmployee template : </ion-label>
			<ion-input readonly>{{account.configuration.emailConfiguration.emailTemplates.welcomeEmployee}}</ion-input>
		</ion-item>

	</ion-list>
</ion-content>
