<ion-content>
	<div  class="ion-padding primaryBackground">
		<ion-text><h1>{{'REGISTER.Title' | translate}}</h1></ion-text>
		<ion-text><p>{{'REGISTER.Text' | translate}}</p></ion-text>
	</div>
		<div  class="ion-padding ">
		<ion-item>
			<ion-label position="floating">{{'REGISTER.CompanyName' | translate}} <ion-text color="danger">*</ion-text></ion-label>
			<ion-input  name="companyName" type="text" [(ngModel)]="accountRequest.companyName"  required></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">{{'REGISTER.SiretNumber' | translate}} <ion-text color="danger">*</ion-text></ion-label>
			<ion-input  name="siretNumber" type="text" [(ngModel)]="accountRequest.siretNumber"  required></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">{{'REGISTER.LastName' | translate}} <ion-text color="danger">*</ion-text></ion-label>
			<ion-input  name="lastName" type="text" [(ngModel)]="accountRequest.lastName"  required></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">{{'REGISTER.FirstName' | translate}} <ion-text color="danger">*</ion-text></ion-label>
			<ion-input  name="firstName" type="text" [(ngModel)]="accountRequest.firstName"  required></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">{{'REGISTER.EmailAddress' | translate}} <ion-text color="danger">*</ion-text></ion-label>
			<ion-input  name="emailAddress" type="text" [(ngModel)]="accountRequest.emailAddress"  required></ion-input>
		</ion-item>
		<ion-item>
			<ion-checkbox slot="start" [(ngModel)]="cguChecked"></ion-checkbox>
			<ion-label class="ion-text-wrap">{{'REGISTER.cguText' | translate}} <a href="/cgu" target="_blank">{{'REGISTER.cguTextLink' | translate}} </a></ion-label>
		</ion-item>
		<div class="ion-margin-top ion-margin-bottom ion-text-center">
			<ion-button color="primary" fill="solid" (click)="submitForm()" [disabled]="cguChecked === false">
				{{'REGISTER.RequestAccount' | translate}}
			</ion-button>
		</div>
	</div>
</ion-content>
