<ion-content class="ion-padding">
	<h1>{{'REGISTER.Title' | translate}}</h1>
	<p>{{'REGISTER.Text' | translate}}</p>
	<ion-item>
		<ion-label position="stacked">{{'REGISTER.CompanyName' | translate}} <ion-text color="danger">*</ion-text></ion-label>
		<ion-input  name="companyName" type="text" [(ngModel)]="accountRequest.companyName"  required></ion-input>
	</ion-item>
	<ion-item>
		<ion-label position="stacked">{{'REGISTER.LastName' | translate}} <ion-text color="danger">*</ion-text></ion-label>
		<ion-input  name="lastName" type="text" [(ngModel)]="accountRequest.lastName"  required></ion-input>
	</ion-item>
	<ion-item>
		<ion-label position="stacked">{{'REGISTER.FirstName' | translate}} <ion-text color="danger">*</ion-text></ion-label>
		<ion-input  name="firstName" type="text" [(ngModel)]="accountRequest.firstName"  required></ion-input>
	</ion-item>
	<ion-item>
		<ion-label position="stacked">{{'REGISTER.EmailAddress' | translate}} <ion-text color="danger">*</ion-text></ion-label>
		<ion-input  name="emailAddress" type="text" [(ngModel)]="accountRequest.emailAddress"  required></ion-input>
	</ion-item>
	<ion-button color="primary" fill="solid" (click)="submitForm()" >
		{{'REGISTER.RequestAccount' | translate}}
	</ion-button>
</ion-content>
