<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col size="6" 
			*ngFor="let picture of pictures; index as position">
			<ion-img [src]="picture.data.url"></ion-img>
			<ion-item>
				<ion-label>{{picture.data.dateTime |  date:'mediumDate' }}</ion-label>
				<ion-note slot="end" (click)="removePicture(picture.id)"> <ion-icon name="trash-outline"></ion-icon></ion-note>
			</ion-item>
		</ion-col>
	</ion-row>
</ion-grid>

<ion-fab vertical="top" horizontal="end" slot="fixed">
	<ion-fab-button (click)="addPicture()">
		<ion-icon name="camera"></ion-icon>
	</ion-fab-button>
</ion-fab>
</ion-content>