
<ion-list>
	<ion-item button [routerLink]="['/edit-customer' ,{ mode: 'update', uid:uid, customer:customerStringified }]" (click)="dismissPopover()">
		<ion-icon name="pencil" ></ion-icon>
		<span class="spanButton">{{'CUSTOMER.Edit' | translate}}</span>
	</ion-item>
	<ion-item button  [routerLink]="['customers/' +uid+'/edit-swimming-pool',{ mode: 'add',customer:customerStringified}]">
		<ion-icon name="add" ></ion-icon>
		<span class="spanButton">{{'CUSTOMER.AddPool' | translate}}</span>
	</ion-item>
	<ion-item  button (click)="sendEmailUserCreation()">
		<ion-icon name="mail-outline" ></ion-icon>
		<span class="spanButton">{{'CUSTOMER.SendEmailForUserCreation' | translate}}</span>
	</ion-item>
	<ion-item lines="none" button (click)="removeCustomer()">
		<ion-icon name="trash" ></ion-icon>
		<span class="spanButton">{{'CUSTOMER.Remove' | translate}}</span>
	</ion-item>
</ion-list>
