<ion-header>
	<ion-toolbar>
		<ion-title>Super Admin page</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-fab vertical="top" horizontal="end" slot="fixed"  [routerLink]="['add-account',{ mode: 'add'}]">
		<ion-fab-button>
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<ion-list>
		<ion-item *ngFor="let account of accounts" [routerLink]="['account/' + account.id]">
			<ion-label>
				<div><h1>{{account.name}}</h1></div>
				<div><ion-badge>{{account.numberOfSwimmingPools}} </ion-badge> pools managed</div>
			</ion-label>
			<ion-note slot="end">{{account.plan}}</ion-note>
		</ion-item>
	</ion-list>

</ion-content>
