<ion-header>
	<ion-toolbar>
		<ion-title>superAdmin</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-fab vertical="top" horizontal="end" slot="fixed"  [routerLink]="['add-account',{ mode: 'add'}]">
		<ion-fab-button>
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<ion-list>
		<ion-item *ngFor="let account of accounts" [routerLink]="['account/' + account.id]">
			<ion-label>
				<div><ion-text  ><h2>{{account.name}}</h2></ion-text></div>
				<div><ion-text  class="linkStyle" >more details</ion-text></div>
			</ion-label>
		</ion-item>
	</ion-list>

</ion-content>
