<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="customers"></ion-back-button>
		</ion-buttons>
		<ion-title>{{ customer.firstName}} {{customer.lastName}} </ion-title>
		<ion-buttons slot="end" *ngIf="claims['admin']" >
			<ion-button (click)="presentPopover($event)" >
				<ion-icon name="ellipsis-vertical"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content>
	<ion-item  lines="none">
		<ion-chip color="primary" *ngIf="customer.typeOfContract ==='technical'">
			<ion-label>{{'CUSTOMER.CONTRACTTYPETECHNICAL' | translate}}</ion-label>
		</ion-chip>
		<ion-chip color="primary" *ngIf="customer.typeOfContract ==='full'">
			<ion-label>{{'CUSTOMER.CONTRACTTYPEFULL' | translate}}</ion-label>
		</ion-chip>
		<ion-chip color="primary" *ngIf="customer.contractOfProduct ==='included'">
			<ion-label>{{'CUSTOMER.CONTRACTPRODUCTINCLUDED' | translate}}</ion-label>
		</ion-chip>
		<ion-chip color="primary" *ngIf="customer.contractOfProduct ==='notIncluded'">
			<ion-label>{{'CUSTOMER.CONTRACTPRODUCTNOTINCLUDED' | translate}}</ion-label>
		</ion-chip>
	</ion-item>

	<ion-item lines="none">
		<ion-label position="stacked">{{'CUSTOMER.MOBILEPHONENUMBER' | translate}}</ion-label>
		<ion-text>
			<a href="tel:{{customer.telPhoneNumber}}"> {{customer.telPhoneNumber}}</a>
		</ion-text>
	</ion-item>
	<ion-item lines="none">
		<ion-label position="stacked">{{'CUSTOMER.FIXEDPHONENUMBER' | translate}}</ion-label>
		<ion-text>
			<a href="tel:{{customer.telFixNumber}}"> {{customer.telFixNumber}}</a>
		</ion-text>
	</ion-item>
	<ion-item lines="none" *ngIf="customer.guardianNumber != ''">
		<ion-label position="stacked">{{'CUSTOMER.GUARDIANPHONENUMBER' | translate}}</ion-label>
		<ion-text>
			<a href="tel:{{customer.guardianNumber}}"> {{customer.guardianNumber}}</a>
		</ion-text>
	</ion-item>
	<ion-item  lines="none">
		<ion-label position="stacked">{{'CUSTOMER.EMAIL' | translate}}</ion-label>
		<ion-text>
			<a href="mailto:{{customer.email}}"> {{customer.email}}</a>
		</ion-text>
		<ion-button class="submit-btn" (click)="activateAccount()" *ngIf="customer.email!== '' && (customer.userRecordUid ===null || customer.userRecordUid ==='')">{{'CUSTOMER.ActivateAccount' | translate}}</ion-button>
	</ion-item>
	<ion-item  lines="none">
		<ion-label position="stacked">{{'CUSTOMER.ADDRESS' | translate}}</ion-label>
		<ion-text ><a href="https://www.google.com/maps/dir/?api=1&destination={{customer.googleAddress}}" target="blank">
		{{customer.googleAddress}} </a>
	</ion-text>
</ion-item>

<google-map height="40%" width="100%" [zoom]="zoom" [center]="center" [options]="options" id="map" *ngIf="mapOK===true">
	<map-marker	[position]="customer.location"></map-marker>
</google-map>

<ion-list>
	<ion-list-header>
		<h2><ion-text  color="primary">Piscines</ion-text></h2>
	</ion-list-header>
	
	<ion-item  [routerLink]="['swimming-pool/'+ swimmingPool.key]" *ngFor="let swimmingPool of swimmingPools | async">
		<ion-avatar slot="start"  class="ion-hide-sm-down">
			<img src="./assets/images/swimmingPoolAvatar.png">
		</ion-avatar>
		<ion-label>
			<h2 >{{swimmingPool.data.name}} <ion-badge color="primary">{{swimmingPool.data.numberOfVisits}} {{'CUSTOMER.VisitsPerfomed' | translate}}</ion-badge></h2>
			<h3><ion-text  color="primary" *ngIf="swimmingPool.data.lastVisitDate != ''">Derniere visite effectuee le {{swimmingPool.data.lastVisitDate | date:'mediumDate'}}</ion-text></h3>
			<ion-button color="primary"  (click)="startVisit('full',swimmingPool)"><ion-icon name="shield-checkmark" class="ion-margin-end ion-hide-sm-down"></ion-icon>
				<div class="visitType">{{'CUSTOMER.VisitTypeFull' | translate}}</div>
			</ion-button>
			<ion-button color="secondary"  (click)="startVisit('controle',swimmingPool)">	<ion-icon name="shield-checkmark" class="ion-margin-end ion-hide-sm-down" ></ion-icon>
				<div class="visitType">{{'CUSTOMER.VisitTypeControl' | translate}}</div>
			</ion-button>
			<ion-button color="success" (click)="startVisit('maintenance',swimmingPool)">	<ion-icon name="shield-checkmark" class="ion-margin-end ion-hide-sm-down"></ion-icon>
				<div class="visitType">{{'CUSTOMER.VisitTypeMaintenance' | translate}}</div>
			</ion-button>
		</ion-label>

	</ion-item>
</ion-list>


<div padding>
	<ion-button class="submit-btn" [routerLink]="['edit-swimming-pool',{ mode: 'add',customer:customerStringified}]">{{'CUSTOMER.AddPool' | translate}}</ion-button>
</div>

</ion-content>
