<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-avatar class="avatarTop" slot="start">
			<ngx-avatar name="{{ customer.firstName }} {{ customer.lastName}}"></ngx-avatar>
		</ion-avatar>
		<ion-title>{{ customer.firstName}} {{customer.lastName}} </ion-title>
		<ion-buttons slot="end">
			<ion-button [routerLink]="['/edit-customer' ,{ mode: 'update', uid:uid, customer:customerStringified }]">
				<ion-icon name="pencil" ></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content>
	<ion-item  lines="none">
		<ion-badge color="primary" *ngIf="customer.typeOfContract ==='technical'" >{{'CUSTOMER.CONTRACTTYPETECHNICAL' | translate}}</ion-badge>
		<ion-badge color="primary" *ngIf="customer.typeOfContract ==='full'">{{'CUSTOMER.CONTRACTTYPEFULL'  | translate}}</ion-badge>
		<ion-badge color="primary" *ngIf="customer.contractOfProduct ==='included'" class="contractOfProduct">{{'CUSTOMER.CONTRACTPRODUCTINCLUDED' | translate}}</ion-badge>
		<ion-badge color="warning" *ngIf="customer.contractOfProduct ==='notIncluded'"  class="contractOfProduct">{{'CUSTOMER.CONTRACTPRODUCTNOTINCLUDED'  | translate}}</ion-badge>
	</ion-item>

	<ion-item lines="none">
		<ion-label position="stacked">{{'CUSTOMER.MOBILEPHONENUMBER' | translate}}</ion-label>
		<ion-text>
			<a href="tel:{{customer.telPhoneNumber}}"> {{customer.telPhoneNumber}}</a>
		</ion-text>
	</ion-item>
	<ion-item lines="none">
		<ion-label position="stacked">{{'CUSTOMER.FIXEDPHONENUMBER' | translate}}</ion-label>
		<ion-text>
			<a href="tel:{{customer.telFixNumber}}"> {{customer.telFixNumber}}</a>
		</ion-text>
	</ion-item>
	<ion-item lines="none" *ngIf="customer.guardianNumber != ''">
		<ion-label position="stacked">{{'CUSTOMER.GUARDIANPHONENUMBER' | translate}}</ion-label>
		<ion-text>
			<a href="tel:{{customer.guardianNumber}}"> {{customer.guardianNumber}}</a>
		</ion-text>
	</ion-item>
	<ion-item  lines="none">
		<ion-label position="stacked">{{'CUSTOMER.EMAIL' | translate}}</ion-label>
		<ion-text>
			<a href="mailto:{{customer.email}}"> {{customer.email}}</a>
		</ion-text>
	</ion-item>
	<ion-item  lines="none">
		<ion-label position="stacked">{{'CUSTOMER.ADDRESS' | translate}}</ion-label>
		<ion-text>
			{{customer.googleAddress}} 
		</ion-text>
	</ion-item>

	<google-map height="40%" width="100%" [zoom]="zoom" [center]="center" [options]="options">
		<map-marker	[position]="customer.location"></map-marker>
	</google-map>

	<ion-list>
		<ion-list-header>
			<h2><ion-text  color="primary">Piscines</ion-text></h2>
		</ion-list-header>
		<ion-item  *ngFor="let swimmingPool of swimmingPools | async" [routerLink]="['swimming-pool/'+ swimmingPool.key]">
			<ion-item-options side="start">
				<ion-item-option [routerLink]="['add-visit/'+swimmingPool.key,{ uid: uid, swimmingPoolName: swimmingPool.data.name,customerFirstName: 
				customer.firstName,customerLastName: customer.lastName}]" color="primary">{{'CUSTOMER.AddVisit' | translate}}</ion-item-option>
			</ion-item-options>
			<ion-avatar slot="start">
				<img src="./assets/images/swimmingPoolAvatar.png">
			</ion-avatar>
			<ion-label>
				<h2 >{{swimmingPool.data.name}} <ion-badge color="primary">{{swimmingPool.data.numberOfVisits}} {{'CUSTOMER.VisitsPerfomed' | translate}}</ion-badge></h2>
				<h3><ion-text  color="primary" *ngIf="swimmingPool.data.lastVisitDate != ''">Derniere visite effectuee le {{swimmingPool.data.lastVisitDate | date:'mediumDate'}}</ion-text></h3>

			</ion-label>
		</ion-item>
	</ion-list>


	<div padding>
		<ion-button class="submit-btn" [routerLink]="['edit-swimming-pool',{ mode: 'add',customer:customerStringified}]">{{'CUSTOMER.AddPool' | translate}}</ion-button>
	</div>

</ion-content>
